.emoji-100:before { content: '\1f4af'; }
             .emoji-smiley:before { content: '\1f603'; }
        .emoji-smile:before { content: '\1f604'; }
        .emoji-grin:before { content: '\1f601'; }
        .emoji-laughing:before { content: '\1f606'; }
        .emoji-sweat_smile:before { content: '\1f605'; }
        .emoji-rolling_on_the_floor_laughing:before { content: '\1f923'; }
        .emoji-joy:before { content: '\1f602'; }
        .emoji-slightly_smiling_face:before { content: '\1f642'; }
        .emoji-upside_down_face:before { content: '\1f643'; }
        .emoji-melting_face:before { content: '\1fae0'; }
        .emoji-wink:before { content: '\1f609'; }
        .emoji-blush:before { content: '\1f60a'; }
        .emoji-innocent:before { content: '\1f607'; }
        .emoji-smiling_face_with_3_hearts:before { content: '\1f970'; }
        .emoji-heart_eyes:before { content: '\1f60d'; }
        .emoji-star-struck:before { content: '\1f929'; }
        .emoji-kissing_heart:before { content: '\1f618'; }
        .emoji-relaxed:before { content: '\263a-fe0f'; }
        .emoji-kissing_closed_eyes:before { content: '\1f61a'; }
        .emoji-kissing_smiling_eyes:before { content: '\1f619'; }
        .emoji-smiling_face_with_tear:before { content: '\1f972'; }
        .emoji-yum:before { content: '\1f60b'; }
        .emoji-stuck_out_tongue:before { content: '\1f61b'; }
        .emoji-stuck_out_tongue_winking_eye:before { content: '\1f61c'; }
        .emoji-zany_face:before { content: '\1f92a'; }
        .emoji-stuck_out_tongue_closed_eyes:before { content: '\1f61d'; }
        .emoji-money_mouth_face:before { content: '\1f911'; }
        .emoji-kissing:before { content: '\1f617'; }
        .emoji-face_with_hand_over_mouth:before { content: '\1f92d'; }
        .emoji-face_with_open_eyes_and_hand_over_mouth:before { content: '\1fae2'; }
        .emoji-face_with_peeking_eye:before { content: '\1fae3'; }
        .emoji-shushing_face:before { content: '\1f92b'; }
        .emoji-saluting_face:before { content: '\1fae1'; }
        .emoji-zipper_mouth_face:before { content: '\1f910'; }
        .emoji-face_with_raised_eyebrow:before { content: '\1f928'; }
        .emoji-neutral_face:before { content: '\1f610'; }
        .emoji-expressionless:before { content: '\1f611'; }
        .emoji-dotted_line_face:before { content: '\1fae5'; }
        .emoji-face_in_clouds:before { content: '\1f636-200d-1f32b-fe0f'; }
        .emoji-hugging_face:before { content: '\1f917'; }
        .emoji-unamused:before { content: '\1f612'; }
        .emoji-face_with_rolling_eyes:before { content: '\1f644'; }
        .emoji-grimacing:before { content: '\1f62c'; }
        .emoji-face_exhaling:before { content: '\1f62e-200d-1f4a8'; }
        .emoji-lying_face:before { content: '\1f925'; }
        .emoji-relieved:before { content: '\1f60c'; }
        .emoji-thinking_face:before { content: '\1f914'; }
        .emoji-sleepy:before { content: '\1f62a'; }
        .emoji-drooling_face:before { content: '\1f924'; }
        .emoji-sleeping:before { content: '\1f634'; }
        .emoji-mask:before { content: '\1f637'; }
        .emoji-face_with_thermometer:before { content: '\1f912'; }
        .emoji-face_with_head_bandage:before { content: '\1f915'; }
        .emoji-nauseated_face:before { content: '\1f922'; }
        .emoji-face_vomiting:before { content: '\1f92e'; }
        .emoji-sneezing_face:before { content: '\1f927'; }
        .emoji-hot_face:before { content: '\1f975'; }
        .emoji-cold_face:before { content: '\1f976'; }
        .emoji-woozy_face:before { content: '\1f974'; }
        .emoji-dizzy_face:before { content: '\1f635'; }
        .emoji-face_with_spiral_eyes:before { content: '\1f635-200d-1f4ab'; }
        .emoji-exploding_head:before { content: '\1f92f'; }
        .emoji-face_with_cowboy_hat:before { content: '\1f920'; }
        .emoji-partying_face:before { content: '\1f973'; }
        .emoji-disguised_face:before { content: '\1f978'; }
        .emoji-pensive:before { content: '\1f614'; }
        .emoji-sunglasses:before { content: '\1f60e'; }
        .emoji-nerd_face:before { content: '\1f913'; }
        .emoji-face_with_monocle:before { content: '\1f9d0'; }
        .emoji-confused:before { content: '\1f615'; }
        .emoji-face_with_diagonal_mouth:before { content: '\1fae4'; }
        .emoji-worried:before { content: '\1f61f'; }
        .emoji-no_mouth:before { content: '\1f636'; }
        .emoji-slightly_frowning_face:before { content: '\1f641'; }
        .emoji-hushed:before { content: '\1f62f'; }
        .emoji-astonished:before { content: '\1f632'; }
        .emoji-flushed:before { content: '\1f633'; }
        .emoji-pleading_face:before { content: '\1f97a'; }
        .emoji-face_holding_back_tears:before { content: '\1f979'; }
        .emoji-frowning:before { content: '\1f626'; }
        .emoji-anguished:before { content: '\1f627'; }
        .emoji-fearful:before { content: '\1f628'; }
        .emoji-open_mouth:before { content: '\1f62e'; }
        .emoji-cold_sweat:before { content: '\1f630'; }
        .emoji-disappointed_relieved:before { content: '\1f625'; }
        .emoji-white_frowning_face:before { content: '\2639-fe0f'; }
        .emoji-scream:before { content: '\1f631'; }
        .emoji-smirk:before { content: '\1f60f'; }
        .emoji-persevere:before { content: '\1f623'; }
        .emoji-disappointed:before { content: '\1f61e'; }
        .emoji-sweat:before { content: '\1f613'; }
        .emoji-weary:before { content: '\1f629'; }
        .emoji-tired_face:before { content: '\1f62b'; }
        .emoji-yawning_face:before { content: '\1f971'; }
        .emoji-triumph:before { content: '\1f624'; }
        .emoji-sob:before { content: '\1f62d'; }
        .emoji-angry:before { content: '\1f620'; }
        .emoji-face_with_symbols_on_mouth:before { content: '\1f92c'; }
        .emoji-smiling_imp:before { content: '\1f608'; }
        .emoji-imp:before { content: '\1f47f'; }
        .emoji-skull:before { content: '\1f480'; }
        .emoji-cry:before { content: '\1f622'; }
        .emoji-confounded:before { content: '\1f616'; }
        .emoji-clown_face:before { content: '\1f921'; }
        .emoji-japanese_ogre:before { content: '\1f479'; }
        .emoji-skull_and_crossbones:before { content: '\2620-fe0f'; }
        .emoji-ghost:before { content: '\1f47b'; }
        .emoji-alien:before { content: '\1f47d'; }
        .emoji-space_invader:before { content: '\1f47e'; }
        .emoji-rage:before { content: '\1f621'; }
        .emoji-smiley_cat:before { content: '\1f63a'; }
        .emoji-smile_cat:before { content: '\1f638'; }
        .emoji-joy_cat:before { content: '\1f639'; }
        .emoji-heart_eyes_cat:before { content: '\1f63b'; }
        .emoji-japanese_goblin:before { content: '\1f47a'; }
        .emoji-hankey:before { content: '\1f4a9'; }
        .emoji-kissing_cat:before { content: '\1f63d'; }
        .emoji-crying_cat_face:before { content: '\1f63f'; }
        .emoji-pouting_cat:before { content: '\1f63e'; }
        .emoji-scream_cat:before { content: '\1f640'; }
        .emoji-hear_no_evil:before { content: '\1f649'; }
        .emoji-speak_no_evil:before { content: '\1f64a'; }
        .emoji-kiss:before { content: '\1f48b'; }
        .emoji-love_letter:before { content: '\1f48c'; }
        .emoji-see_no_evil:before { content: '\1f648'; }
        .emoji-gift_heart:before { content: '\1f49d'; }
        .emoji-sparkling_heart:before { content: '\1f496'; }
        .emoji-heartpulse:before { content: '\1f497'; }
        .emoji-heartbeat:before { content: '\1f493'; }
        .emoji-revolving_hearts:before { content: '\1f49e'; }
        .emoji-two_hearts:before { content: '\1f495'; }
        .emoji-heavy_heart_exclamation_mark_ornament:before { content: '\2763-fe0f'; }
        .emoji-broken_heart:before { content: '\1f494'; }
        .emoji-heart_on_fire:before { content: '\2764-fe0f-200d-1f525'; }
        .emoji-heart_decoration:before { content: '\1f49f'; }
        .emoji-mending_heart:before { content: '\2764-fe0f-200d-1fa79'; }
        .emoji-heart:before { content: '\2764-fe0f'; }
        .emoji-orange_heart:before { content: '\1f9e1'; }
        .emoji-yellow_heart:before { content: '\1f49b'; }
        .emoji-robot_face:before { content: '\1f916'; }
        .emoji-blue_heart:before { content: '\1f499'; }
        .emoji-green_heart:before { content: '\1f49a'; }
        .emoji-brown_heart:before { content: '\1f90e'; }
        .emoji-black_heart:before { content: '\1f5a4'; }
        .emoji-white_heart:before { content: '\1f90d'; }
        .emoji-anger:before { content: '\1f4a2'; }
        .emoji-boom:before { content: '\1f4a5'; }
        .emoji-dizzy:before { content: '\1f4ab'; }
        .emoji-sweat_drops:before { content: '\1f4a6'; }
        .emoji-dash:before { content: '\1f4a8'; }
        .emoji-hole:before { content: '\1f573-fe0f'; }
        .emoji-bomb:before { content: '\1f4a3'; }
        .emoji-speech_balloon:before { content: '\1f4ac'; }
        .emoji-eye-in-speech-bubble:before { content: '\1f441-fe0f-200d-1f5e8-fe0f'; }
        .emoji-left_speech_bubble:before { content: '\1f5e8-fe0f'; }
        .emoji-right_anger_bubble:before { content: '\1f5ef-fe0f'; }
        .emoji-thought_balloon:before { content: '\1f4ad'; }
        .emoji-zzz:before { content: '\1f4a4'; }
        .emoji-wave:before { content: '\1f44b'; }
        .emoji-cupid:before { content: '\1f498'; }
        .emoji-raised_hand_with_fingers_splayed:before { content: '\1f590-fe0f'; }
        .emoji-hand:before { content: '\270b'; }
        .emoji-spock-hand:before { content: '\1f596'; }
        .emoji-rightwards_hand:before { content: '\1faf1'; }
        .emoji-leftwards_hand:before { content: '\1faf2'; }
        .emoji-palm_down_hand:before { content: '\1faf3'; }
        .emoji-palm_up_hand:before { content: '\1faf4'; }
        .emoji-ok_hand:before { content: '\1f44c'; }
        .emoji-pinched_fingers:before { content: '\1f90c'; }
        .emoji-pinching_hand:before { content: '\1f90f'; }
        .emoji-v:before { content: '\270c-fe0f'; }
        .emoji-crossed_fingers:before { content: '\1f91e'; }
        .emoji-hand_with_index_finger_and_thumb_crossed:before { content: '\1faf0'; }
        .emoji-i_love_you_hand_sign:before { content: '\1f91f'; }
        .emoji-the_horns:before { content: '\1f918'; }
        .emoji-call_me_hand:before { content: '\1f919'; }
        .emoji-point_left:before { content: '\1f448'; }
        .emoji-point_right:before { content: '\1f449'; }
        .emoji-raised_back_of_hand:before { content: '\1f91a'; }
        .emoji-middle_finger:before { content: '\1f595'; }
        .emoji-point_down:before { content: '\1f447'; }
        .emoji-point_up:before { content: '\261d-fe0f'; }
        .emoji-index_pointing_at_the_viewer:before { content: '\1faf5'; }
        .emoji-+1:before { content: '\1f44d'; }
        .emoji--1:before { content: '\1f44e'; }
        .emoji-fist:before { content: '\270a'; }
        .emoji-facepunch:before { content: '\1f44a'; }
        .emoji-left-facing_fist:before { content: '\1f91b'; }
        .emoji-purple_heart:before { content: '\1f49c'; }
        .emoji-point_up_2:before { content: '\1f446'; }
        .emoji-smirk_cat:before { content: '\1f63c'; }
        .emoji-heart_hands:before { content: '\1faf6'; }
        .emoji-open_hands:before { content: '\1f450'; }
        .emoji-palms_up_together:before { content: '\1f932'; }
        .emoji-handshake:before { content: '\1f91d'; }
        .emoji-writing_hand:before { content: '\270d-fe0f'; }
        .emoji-pray:before { content: '\1f64f'; }
        .emoji-nail_care:before { content: '\1f485'; }
        .emoji-selfie:before { content: '\1f933'; }
        .emoji-muscle:before { content: '\1f4aa'; }
        .emoji-mechanical_arm:before { content: '\1f9be'; }
        .emoji-mechanical_leg:before { content: '\1f9bf'; }
        .emoji-raised_hands:before { content: '\1f64c'; }
        .emoji-foot:before { content: '\1f9b6'; }
        .emoji-ear:before { content: '\1f442'; }
        .emoji-ear_with_hearing_aid:before { content: '\1f9bb'; }
        .emoji-nose:before { content: '\1f443'; }
        .emoji-brain:before { content: '\1f9e0'; }
        .emoji-anatomical_heart:before { content: '\1fac0'; }
        .emoji-lungs:before { content: '\1fac1'; }
        .emoji-tooth:before { content: '\1f9b7'; }
        .emoji-bone:before { content: '\1f9b4'; }
        .emoji-eyes:before { content: '\1f440'; }
        .emoji-eye:before { content: '\1f441-fe0f'; }
        .emoji-tongue:before { content: '\1f445'; }
        .emoji-lips:before { content: '\1f444'; }
        .emoji-biting_lip:before { content: '\1fae6'; }
        .emoji-clap:before { content: '\1f44f'; }
        .emoji-right-facing_fist:before { content: '\1f91c'; }
        .emoji-boy:before { content: '\1f466'; }
        .emoji-girl:before { content: '\1f467'; }
        .emoji-child:before { content: '\1f9d2'; }
        .emoji-man:before { content: '\1f468'; }
        .emoji-person_with_blond_hair:before { content: '\1f471'; }
        .emoji-man_with_beard:before { content: '\1f9d4-200d-2642-fe0f'; }
        .emoji-woman_with_beard:before { content: '\1f9d4-200d-2640-fe0f'; }
        .emoji-red_haired_man:before { content: '\1f468-200d-1f9b0'; }
        .emoji-curly_haired_man:before { content: '\1f468-200d-1f9b1'; }
        .emoji-adult:before { content: '\1f9d1'; }
        .emoji-baby:before { content: '\1f476'; }
        .emoji-bearded_person:before { content: '\1f9d4'; }
        .emoji-woman:before { content: '\1f469'; }
        .emoji-leg:before { content: '\1f9b5'; }
        .emoji-red_haired_person:before { content: '\1f9d1-200d-1f9b0'; }
        .emoji-curly_haired_woman:before { content: '\1f469-200d-1f9b1'; }
        .emoji-curly_haired_person:before { content: '\1f9d1-200d-1f9b1'; }
        .emoji-white_haired_woman:before { content: '\1f469-200d-1f9b3'; }
        .emoji-white_haired_person:before { content: '\1f9d1-200d-1f9b3'; }
        .emoji-white_haired_man:before { content: '\1f468-200d-1f9b3'; }
        .emoji-bald_man:before { content: '\1f468-200d-1f9b2'; }
        .emoji-blond-haired-woman:before { content: '\1f471-200d-2640-fe0f'; }
        .emoji-blond-haired-man:before { content: '\1f471-200d-2642-fe0f'; }
        .emoji-older_adult:before { content: '\1f9d3'; }
        .emoji-older_man:before { content: '\1f474'; }
        .emoji-older_woman:before { content: '\1f475'; }
        .emoji-bald_person:before { content: '\1f9d1-200d-1f9b2'; }
        .emoji-bald_woman:before { content: '\1f469-200d-1f9b2'; }
        .emoji-woman-frowning:before { content: '\1f64d-200d-2640-fe0f'; }
        .emoji-person_with_pouting_face:before { content: '\1f64e'; }
        .emoji-man-pouting:before { content: '\1f64e-200d-2642-fe0f'; }
        .emoji-woman-pouting:before { content: '\1f64e-200d-2640-fe0f'; }
        .emoji-no_good:before { content: '\1f645'; }
        .emoji-man-gesturing-no:before { content: '\1f645-200d-2642-fe0f'; }
        .emoji-woman-gesturing-no:before { content: '\1f645-200d-2640-fe0f'; }
        .emoji-ok_woman:before { content: '\1f646'; }
        .emoji-man-gesturing-ok:before { content: '\1f646-200d-2642-fe0f'; }
        .emoji-woman-gesturing-ok:before { content: '\1f646-200d-2640-fe0f'; }
        .emoji-information_desk_person:before { content: '\1f481'; }
        .emoji-man-tipping-hand:before { content: '\1f481-200d-2642-fe0f'; }
        .emoji-woman-tipping-hand:before { content: '\1f481-200d-2640-fe0f'; }
        .emoji-woman-raising-hand:before { content: '\1f64b-200d-2640-fe0f'; }
        .emoji-deaf_person:before { content: '\1f9cf'; }
        .emoji-man-raising-hand:before { content: '\1f64b-200d-2642-fe0f'; }
        .emoji-deaf_man:before { content: '\1f9cf-200d-2642-fe0f'; }
        .emoji-raising_hand:before { content: '\1f64b'; }
        .emoji-deaf_woman:before { content: '\1f9cf-200d-2640-fe0f'; }
        .emoji-bow:before { content: '\1f647'; }
        .emoji-man-bowing:before { content: '\1f647-200d-2642-fe0f'; }
        .emoji-woman-bowing:before { content: '\1f647-200d-2640-fe0f'; }
        .emoji-woman-facepalming:before { content: '\1f926-200d-2640-fe0f'; }
        .emoji-man-facepalming:before { content: '\1f926-200d-2642-fe0f'; }
        .emoji-shrug:before { content: '\1f937'; }
        .emoji-face_palm:before { content: '\1f926'; }
        .emoji-man-shrugging:before { content: '\1f937-200d-2642-fe0f'; }
        .emoji-woman-shrugging:before { content: '\1f937-200d-2640-fe0f'; }
        .emoji-health_worker:before { content: '\1f9d1-200d-2695-fe0f'; }
        .emoji-male-doctor:before { content: '\1f468-200d-2695-fe0f'; }
        .emoji-male-student:before { content: '\1f468-200d-1f393'; }
        .emoji-teacher:before { content: '\1f9d1-200d-1f3eb'; }
        .emoji-female-student:before { content: '\1f469-200d-1f393'; }
        .emoji-female-doctor:before { content: '\1f469-200d-2695-fe0f'; }
        .emoji-student:before { content: '\1f9d1-200d-1f393'; }
        .emoji-male-teacher:before { content: '\1f468-200d-1f3eb'; }
        .emoji-female-teacher:before { content: '\1f469-200d-1f3eb'; }
        .emoji-judge:before { content: '\1f9d1-200d-2696-fe0f'; }
        .emoji-male-judge:before { content: '\1f468-200d-2696-fe0f'; }
        .emoji-female-judge:before { content: '\1f469-200d-2696-fe0f'; }
        .emoji-farmer:before { content: '\1f9d1-200d-1f33e'; }
        .emoji-male-farmer:before { content: '\1f468-200d-1f33e'; }
        .emoji-female-farmer:before { content: '\1f469-200d-1f33e'; }
        .emoji-cook:before { content: '\1f9d1-200d-1f373'; }
        .emoji-male-cook:before { content: '\1f468-200d-1f373'; }
        .emoji-red_haired_woman:before { content: '\1f469-200d-1f9b0'; }
        .emoji-mechanic:before { content: '\1f9d1-200d-1f527'; }
        .emoji-male-mechanic:before { content: '\1f468-200d-1f527'; }
        .emoji-female-mechanic:before { content: '\1f469-200d-1f527'; }
        .emoji-factory_worker:before { content: '\1f9d1-200d-1f3ed'; }
        .emoji-male-factory-worker:before { content: '\1f468-200d-1f3ed'; }
        .emoji-female-factory-worker:before { content: '\1f469-200d-1f3ed'; }
        .emoji-office_worker:before { content: '\1f9d1-200d-1f4bc'; }
        .emoji-male-office-worker:before { content: '\1f468-200d-1f4bc'; }
        .emoji-female-office-worker:before { content: '\1f469-200d-1f4bc'; }
        .emoji-scientist:before { content: '\1f9d1-200d-1f52c'; }
        .emoji-female-cook:before { content: '\1f469-200d-1f373'; }
        .emoji-female-scientist:before { content: '\1f469-200d-1f52c'; }
        .emoji-technologist:before { content: '\1f9d1-200d-1f4bb'; }
        .emoji-male-technologist:before { content: '\1f468-200d-1f4bb'; }
        .emoji-female-technologist:before { content: '\1f469-200d-1f4bb'; }
        .emoji-singer:before { content: '\1f9d1-200d-1f3a4'; }
        .emoji-male-singer:before { content: '\1f468-200d-1f3a4'; }
        .emoji-female-singer:before { content: '\1f469-200d-1f3a4'; }
        .emoji-artist:before { content: '\1f9d1-200d-1f3a8'; }
        .emoji-male-artist:before { content: '\1f468-200d-1f3a8'; }
        .emoji-female-artist:before { content: '\1f469-200d-1f3a8'; }
        .emoji-pilot:before { content: '\1f9d1-200d-2708-fe0f'; }
        .emoji-male-pilot:before { content: '\1f468-200d-2708-fe0f'; }
        .emoji-female-pilot:before { content: '\1f469-200d-2708-fe0f'; }
        .emoji-astronaut:before { content: '\1f9d1-200d-1f680'; }
        .emoji-male-astronaut:before { content: '\1f468-200d-1f680'; }
        .emoji-female-astronaut:before { content: '\1f469-200d-1f680'; }
        .emoji-person_frowning:before { content: '\1f64d'; }
        .emoji-male-scientist:before { content: '\1f468-200d-1f52c'; }
        .emoji-female-firefighter:before { content: '\1f469-200d-1f692'; }
        .emoji-cop:before { content: '\1f46e'; }
        .emoji-male-police-officer:before { content: '\1f46e-200d-2642-fe0f'; }
        .emoji-female-police-officer:before { content: '\1f46e-200d-2640-fe0f'; }
        .emoji-sleuth_or_spy:before { content: '\1f575-fe0f'; }
        .emoji-male-detective:before { content: '\1f575-fe0f-200d-2642-fe0f'; }
        .emoji-female-detective:before { content: '\1f575-fe0f-200d-2640-fe0f'; }
        .emoji-guardsman:before { content: '\1f482'; }
        .emoji-male-guard:before { content: '\1f482-200d-2642-fe0f'; }
        .emoji-female-guard:before { content: '\1f482-200d-2640-fe0f'; }
        .emoji-ninja:before { content: '\1f977'; }
        .emoji-construction_worker:before { content: '\1f477'; }
        .emoji-firefighter:before { content: '\1f9d1-200d-1f692'; }
        .emoji-female-construction-worker:before { content: '\1f477-200d-2640-fe0f'; }
        .emoji-person_with_crown:before { content: '\1fac5'; }
        .emoji-prince:before { content: '\1f934'; }
        .emoji-princess:before { content: '\1f478'; }
        .emoji-man_with_turban:before { content: '\1f473'; }
        .emoji-male-firefighter:before { content: '\1f468-200d-1f692'; }
        .emoji-woman-wearing-turban:before { content: '\1f473-200d-2640-fe0f'; }
        .emoji-man_with_gua_pi_mao:before { content: '\1f472'; }
        .emoji-man-frowning:before { content: '\1f64d-200d-2642-fe0f'; }
        .emoji-person_with_headscarf:before { content: '\1f9d5'; }
        .emoji-male-construction-worker:before { content: '\1f477-200d-2642-fe0f'; }
        .emoji-woman_in_tuxedo:before { content: '\1f935-200d-2640-fe0f'; }
        .emoji-bride_with_veil:before { content: '\1f470'; }
        .emoji-man_with_veil:before { content: '\1f470-200d-2642-fe0f'; }
        .emoji-woman_with_veil:before { content: '\1f470-200d-2640-fe0f'; }
        .emoji-pregnant_woman:before { content: '\1f930'; }
        .emoji-pregnant_man:before { content: '\1fac3'; }
        .emoji-pregnant_person:before { content: '\1fac4'; }
        .emoji-breast-feeding:before { content: '\1f931'; }
        .emoji-woman_feeding_baby:before { content: '\1f469-200d-1f37c'; }
        .emoji-man_feeding_baby:before { content: '\1f468-200d-1f37c'; }
        .emoji-person_feeding_baby:before { content: '\1f9d1-200d-1f37c'; }
        .emoji-angel:before { content: '\1f47c'; }
        .emoji-santa:before { content: '\1f385'; }
        .emoji-mrs_claus:before { content: '\1f936'; }
        .emoji-mx_claus:before { content: '\1f9d1-200d-1f384'; }
        .emoji-superhero:before { content: '\1f9b8'; }
        .emoji-male_superhero:before { content: '\1f9b8-200d-2642-fe0f'; }
        .emoji-female_superhero:before { content: '\1f9b8-200d-2640-fe0f'; }
        .emoji-supervillain:before { content: '\1f9b9'; }
        .emoji-male_supervillain:before { content: '\1f9b9-200d-2642-fe0f'; }
        .emoji-female_supervillain:before { content: '\1f9b9-200d-2640-fe0f'; }
        .emoji-mage:before { content: '\1f9d9'; }
        .emoji-male_mage:before { content: '\1f9d9-200d-2642-fe0f'; }
        .emoji-female_mage:before { content: '\1f9d9-200d-2640-fe0f'; }
        .emoji-fairy:before { content: '\1f9da'; }
        .emoji-man-wearing-turban:before { content: '\1f473-200d-2642-fe0f'; }
        .emoji-female_fairy:before { content: '\1f9da-200d-2640-fe0f'; }
        .emoji-vampire:before { content: '\1f9db'; }
        .emoji-male_vampire:before { content: '\1f9db-200d-2642-fe0f'; }
        .emoji-female_vampire:before { content: '\1f9db-200d-2640-fe0f'; }
        .emoji-merperson:before { content: '\1f9dc'; }
        .emoji-merman:before { content: '\1f9dc-200d-2642-fe0f'; }
        .emoji-mermaid:before { content: '\1f9dc-200d-2640-fe0f'; }
        .emoji-elf:before { content: '\1f9dd'; }
        .emoji-male_elf:before { content: '\1f9dd-200d-2642-fe0f'; }
        .emoji-female_elf:before { content: '\1f9dd-200d-2640-fe0f'; }
        .emoji-genie:before { content: '\1f9de'; }
        .emoji-male_genie:before { content: '\1f9de-200d-2642-fe0f'; }
        .emoji-female_genie:before { content: '\1f9de-200d-2640-fe0f'; }
        .emoji-zombie:before { content: '\1f9df'; }
        .emoji-male_zombie:before { content: '\1f9df-200d-2642-fe0f'; }
        .emoji-female_zombie:before { content: '\1f9df-200d-2640-fe0f'; }
        .emoji-troll:before { content: '\1f9cc'; }
        .emoji-massage:before { content: '\1f486'; }
        .emoji-man-getting-massage:before { content: '\1f486-200d-2642-fe0f'; }
        .emoji-woman-getting-massage:before { content: '\1f486-200d-2640-fe0f'; }
        .emoji-haircut:before { content: '\1f487'; }
        .emoji-man-getting-haircut:before { content: '\1f487-200d-2642-fe0f'; }
        .emoji-woman-getting-haircut:before { content: '\1f487-200d-2640-fe0f'; }
        .emoji-walking:before { content: '\1f6b6'; }
        .emoji-man-walking:before { content: '\1f6b6-200d-2642-fe0f'; }
        .emoji-woman-walking:before { content: '\1f6b6-200d-2640-fe0f'; }
        .emoji-standing_person:before { content: '\1f9cd'; }
        .emoji-man_standing:before { content: '\1f9cd-200d-2642-fe0f'; }
        .emoji-woman_standing:before { content: '\1f9cd-200d-2640-fe0f'; }
        .emoji-kneeling_person:before { content: '\1f9ce'; }
        .emoji-man_kneeling:before { content: '\1f9ce-200d-2642-fe0f'; }
        .emoji-woman_kneeling:before { content: '\1f9ce-200d-2640-fe0f'; }
        .emoji-person_in_tuxedo:before { content: '\1f935'; }
        .emoji-man_with_probing_cane:before { content: '\1f468-200d-1f9af'; }
        .emoji-woman_with_probing_cane:before { content: '\1f469-200d-1f9af'; }
        .emoji-person_in_motorized_wheelchair:before { content: '\1f9d1-200d-1f9bc'; }
        .emoji-man_in_motorized_wheelchair:before { content: '\1f468-200d-1f9bc'; }
        .emoji-woman_in_motorized_wheelchair:before { content: '\1f469-200d-1f9bc'; }
        .emoji-person_in_manual_wheelchair:before { content: '\1f9d1-200d-1f9bd'; }
        .emoji-man_in_manual_wheelchair:before { content: '\1f468-200d-1f9bd'; }
        .emoji-woman_in_manual_wheelchair:before { content: '\1f469-200d-1f9bd'; }
        .emoji-runner:before { content: '\1f3c3'; }
        .emoji-man-running:before { content: '\1f3c3-200d-2642-fe0f'; }
        .emoji-woman-running:before { content: '\1f3c3-200d-2640-fe0f'; }
        .emoji-dancer:before { content: '\1f483'; }
        .emoji-man_dancing:before { content: '\1f57a'; }
        .emoji-man_in_business_suit_levitating:before { content: '\1f574-fe0f'; }
        .emoji-dancers:before { content: '\1f46f'; }
        .emoji-men-with-bunny-ears-partying:before { content: '\1f46f-200d-2642-fe0f'; }
        .emoji-women-with-bunny-ears-partying:before { content: '\1f46f-200d-2640-fe0f'; }
        .emoji-man_in_tuxedo:before { content: '\1f935-200d-2642-fe0f'; }
        .emoji-man_in_steamy_room:before { content: '\1f9d6-200d-2642-fe0f'; }
        .emoji-woman_in_steamy_room:before { content: '\1f9d6-200d-2640-fe0f'; }
        .emoji-male_fairy:before { content: '\1f9da-200d-2642-fe0f'; }
        .emoji-man_climbing:before { content: '\1f9d7-200d-2642-fe0f'; }
        .emoji-person_climbing:before { content: '\1f9d7'; }
        .emoji-woman_climbing:before { content: '\1f9d7-200d-2640-fe0f'; }
        .emoji-fencer:before { content: '\1f93a'; }
        .emoji-skier:before { content: '\26f7-fe0f'; }
        .emoji-snowboarder:before { content: '\1f3c2'; }
        .emoji-golfer:before { content: '\1f3cc-fe0f'; }
        .emoji-man-golfing:before { content: '\1f3cc-fe0f-200d-2642-fe0f'; }
        .emoji-woman-golfing:before { content: '\1f3cc-fe0f-200d-2640-fe0f'; }
        .emoji-surfer:before { content: '\1f3c4'; }
        .emoji-man-surfing:before { content: '\1f3c4-200d-2642-fe0f'; }
        .emoji-woman-surfing:before { content: '\1f3c4-200d-2640-fe0f'; }
        .emoji-horse_racing:before { content: '\1f3c7'; }
        .emoji-rowboat:before { content: '\1f6a3'; }
        .emoji-man-rowing-boat:before { content: '\1f6a3-200d-2642-fe0f'; }
        .emoji-woman-rowing-boat:before { content: '\1f6a3-200d-2640-fe0f'; }
        .emoji-swimmer:before { content: '\1f3ca'; }
        .emoji-man-swimming:before { content: '\1f3ca-200d-2642-fe0f'; }
        .emoji-woman-swimming:before { content: '\1f3ca-200d-2640-fe0f'; }
        .emoji-person_with_ball:before { content: '\26f9-fe0f'; }
        .emoji-person_in_steamy_room:before { content: '\1f9d6'; }
        .emoji-man-bouncing-ball:before { content: '\26f9-fe0f-200d-2642-fe0f'; }
        .emoji-man-lifting-weights:before { content: '\1f3cb-fe0f-200d-2642-fe0f'; }
        .emoji-woman-bouncing-ball:before { content: '\26f9-fe0f-200d-2640-fe0f'; }
        .emoji-bicyclist:before { content: '\1f6b4'; }
        .emoji-man-biking:before { content: '\1f6b4-200d-2642-fe0f'; }
        .emoji-woman-biking:before { content: '\1f6b4-200d-2640-fe0f'; }
        .emoji-mountain_bicyclist:before { content: '\1f6b5'; }
        .emoji-man-mountain-biking:before { content: '\1f6b5-200d-2642-fe0f'; }
        .emoji-woman-mountain-biking:before { content: '\1f6b5-200d-2640-fe0f'; }
        .emoji-person_doing_cartwheel:before { content: '\1f938'; }
        .emoji-man-cartwheeling:before { content: '\1f938-200d-2642-fe0f'; }
        .emoji-woman-cartwheeling:before { content: '\1f938-200d-2640-fe0f'; }
        .emoji-wrestlers:before { content: '\1f93c'; }
        .emoji-man-wrestling:before { content: '\1f93c-200d-2642-fe0f'; }
        .emoji-woman-wrestling:before { content: '\1f93c-200d-2640-fe0f'; }
        .emoji-water_polo:before { content: '\1f93d'; }
        .emoji-weight_lifter:before { content: '\1f3cb-fe0f'; }
        .emoji-woman-lifting-weights:before { content: '\1f3cb-fe0f-200d-2640-fe0f'; }
        .emoji-handball:before { content: '\1f93e'; }
        .emoji-man-playing-handball:before { content: '\1f93e-200d-2642-fe0f'; }
        .emoji-woman-playing-handball:before { content: '\1f93e-200d-2640-fe0f'; }
        .emoji-juggling:before { content: '\1f939'; }
        .emoji-person_with_probing_cane:before { content: '\1f9d1-200d-1f9af'; }
        .emoji-man-playing-water-polo:before { content: '\1f93d-200d-2642-fe0f'; }
        .emoji-person_in_lotus_position:before { content: '\1f9d8'; }
        .emoji-man_in_lotus_position:before { content: '\1f9d8-200d-2642-fe0f'; }
        .emoji-woman_in_lotus_position:before { content: '\1f9d8-200d-2640-fe0f'; }
        .emoji-bath:before { content: '\1f6c0'; }
        .emoji-sleeping_accommodation:before { content: '\1f6cc'; }
        .emoji-people_holding_hands:before { content: '\1f9d1-200d-1f91d-200d-1f9d1'; }
        .emoji-two_women_holding_hands:before { content: '\1f46d'; }
        .emoji-man_and_woman_holding_hands:before { content: '\1f46b'; }
        .emoji-two_men_holding_hands:before { content: '\1f46c'; }
        .emoji-couplekiss:before { content: '\1f48f'; }
        .emoji-woman-kiss-man:before { content: '\1f469-200d-2764-fe0f-200d-1f48b-200d-1f468'; }
        .emoji-man-kiss-man:before { content: '\1f468-200d-2764-fe0f-200d-1f48b-200d-1f468'; }
        .emoji-woman-kiss-woman:before { content: '\1f469-200d-2764-fe0f-200d-1f48b-200d-1f469'; }
        .emoji-couple_with_heart:before { content: '\1f491'; }
        .emoji-woman-heart-man:before { content: '\1f469-200d-2764-fe0f-200d-1f468'; }
        .emoji-man-heart-man:before { content: '\1f468-200d-2764-fe0f-200d-1f468'; }
        .emoji-woman-heart-woman:before { content: '\1f469-200d-2764-fe0f-200d-1f469'; }
        .emoji-family:before { content: '\1f46a'; }
        .emoji-man-woman-boy:before { content: '\1f468-200d-1f469-200d-1f466'; }
        .emoji-man-woman-girl:before { content: '\1f468-200d-1f469-200d-1f467'; }
        .emoji-man-woman-girl-boy:before { content: '\1f468-200d-1f469-200d-1f467-200d-1f466'; }
        .emoji-man-woman-boy-boy:before { content: '\1f468-200d-1f469-200d-1f466-200d-1f466'; }
        .emoji-man-woman-girl-girl:before { content: '\1f468-200d-1f469-200d-1f467-200d-1f467'; }
        .emoji-woman-juggling:before { content: '\1f939-200d-2640-fe0f'; }
        .emoji-man-man-girl:before { content: '\1f468-200d-1f468-200d-1f467'; }
        .emoji-man-man-girl-boy:before { content: '\1f468-200d-1f468-200d-1f467-200d-1f466'; }
        .emoji-man-man-boy-boy:before { content: '\1f468-200d-1f468-200d-1f466-200d-1f466'; }
        .emoji-man-man-girl-girl:before { content: '\1f468-200d-1f468-200d-1f467-200d-1f467'; }
        .emoji-woman-woman-boy:before { content: '\1f469-200d-1f469-200d-1f466'; }
        .emoji-woman-woman-girl:before { content: '\1f469-200d-1f469-200d-1f467'; }
        .emoji-woman-woman-girl-boy:before { content: '\1f469-200d-1f469-200d-1f467-200d-1f466'; }
        .emoji-woman-woman-boy-boy:before { content: '\1f469-200d-1f469-200d-1f466-200d-1f466'; }
        .emoji-man-juggling:before { content: '\1f939-200d-2642-fe0f'; }
        .emoji-woman-woman-girl-girl:before { content: '\1f469-200d-1f469-200d-1f467-200d-1f467'; }
        .emoji-man-boy-boy:before { content: '\1f468-200d-1f466-200d-1f466'; }
        .emoji-man-girl:before { content: '\1f468-200d-1f467'; }
        .emoji-man-girl-boy:before { content: '\1f468-200d-1f467-200d-1f466'; }
        .emoji-man-girl-girl:before { content: '\1f468-200d-1f467-200d-1f467'; }
        .emoji-woman-boy:before { content: '\1f469-200d-1f466'; }
        .emoji-woman-boy-boy:before { content: '\1f469-200d-1f466-200d-1f466'; }
        .emoji-woman-girl:before { content: '\1f469-200d-1f467'; }
        .emoji-woman-girl-boy:before { content: '\1f469-200d-1f467-200d-1f466'; }
        .emoji-woman-girl-girl:before { content: '\1f469-200d-1f467-200d-1f467'; }
        .emoji-man-man-boy:before { content: '\1f468-200d-1f468-200d-1f466'; }
        .emoji-bust_in_silhouette:before { content: '\1f464'; }
        .emoji-busts_in_silhouette:before { content: '\1f465'; }
        .emoji-people_hugging:before { content: '\1fac2'; }
        .emoji-footprints:before { content: '\1f463'; }
        .emoji-man-boy:before { content: '\1f468-200d-1f466'; }
        .emoji-woman-playing-water-polo:before { content: '\1f93d-200d-2640-fe0f'; }
        .emoji-speaking_head_in_silhouette:before { content: '\1f5e3-fe0f'; }
        