.emoji-earth_asia:before { content: '\1f30f'; }
                  .emoji-world_map:before { content: '\1f5fa-fe0f'; }
        .emoji-japan:before { content: '\1f5fe'; }
        .emoji-compass:before { content: '\1f9ed'; }
        .emoji-snow_capped_mountain:before { content: '\1f3d4-fe0f'; }
        .emoji-mountain:before { content: '\26f0-fe0f'; }
        .emoji-volcano:before { content: '\1f30b'; }
        .emoji-mount_fuji:before { content: '\1f5fb'; }
        .emoji-camping:before { content: '\1f3d5-fe0f'; }
        .emoji-beach_with_umbrella:before { content: '\1f3d6-fe0f'; }
        .emoji-desert:before { content: '\1f3dc-fe0f'; }
        .emoji-desert_island:before { content: '\1f3dd-fe0f'; }
        .emoji-national_park:before { content: '\1f3de-fe0f'; }
        .emoji-stadium:before { content: '\1f3df-fe0f'; }
        .emoji-classical_building:before { content: '\1f3db-fe0f'; }
        .emoji-building_construction:before { content: '\1f3d7-fe0f'; }
        .emoji-bricks:before { content: '\1f9f1'; }
        .emoji-rock:before { content: '\1faa8'; }
        .emoji-wood:before { content: '\1fab5'; }
        .emoji-hut:before { content: '\1f6d6'; }
        .emoji-house_buildings:before { content: '\1f3d8-fe0f'; }
        .emoji-derelict_house_building:before { content: '\1f3da-fe0f'; }
        .emoji-house:before { content: '\1f3e0'; }
        .emoji-house_with_garden:before { content: '\1f3e1'; }
        .emoji-office:before { content: '\1f3e2'; }
        .emoji-post_office:before { content: '\1f3e3'; }
        .emoji-european_post_office:before { content: '\1f3e4'; }
        .emoji-hospital:before { content: '\1f3e5'; }
        .emoji-bank:before { content: '\1f3e6'; }
        .emoji-hotel:before { content: '\1f3e8'; }
        .emoji-love_hotel:before { content: '\1f3e9'; }
        .emoji-convenience_store:before { content: '\1f3ea'; }
        .emoji-school:before { content: '\1f3eb'; }
        .emoji-department_store:before { content: '\1f3ec'; }
        .emoji-factory:before { content: '\1f3ed'; }
        .emoji-japanese_castle:before { content: '\1f3ef'; }
        .emoji-european_castle:before { content: '\1f3f0'; }
        .emoji-wedding:before { content: '\1f492'; }
        .emoji-tokyo_tower:before { content: '\1f5fc'; }
        .emoji-statue_of_liberty:before { content: '\1f5fd'; }
        .emoji-church:before { content: '\26ea'; }
        .emoji-mosque:before { content: '\1f54c'; }
        .emoji-hindu_temple:before { content: '\1f6d5'; }
        .emoji-synagogue:before { content: '\1f54d'; }
        .emoji-shinto_shrine:before { content: '\26e9-fe0f'; }
        .emoji-kaaba:before { content: '\1f54b'; }
        .emoji-fountain:before { content: '\26f2'; }
        .emoji-tent:before { content: '\26fa'; }
        .emoji-foggy:before { content: '\1f301'; }
        .emoji-night_with_stars:before { content: '\1f303'; }
        .emoji-cityscape:before { content: '\1f3d9-fe0f'; }
        .emoji-sunrise_over_mountains:before { content: '\1f304'; }
        .emoji-sunrise:before { content: '\1f305'; }
        .emoji-city_sunset:before { content: '\1f306'; }
        .emoji-city_sunrise:before { content: '\1f307'; }
        .emoji-bridge_at_night:before { content: '\1f309'; }
        .emoji-hotsprings:before { content: '\2668-fe0f'; }
        .emoji-carousel_horse:before { content: '\1f3a0'; }
        .emoji-playground_slide:before { content: '\1f6dd'; }
        .emoji-ferris_wheel:before { content: '\1f3a1'; }
        .emoji-roller_coaster:before { content: '\1f3a2'; }
        .emoji-barber:before { content: '\1f488'; }
        .emoji-circus_tent:before { content: '\1f3aa'; }
        .emoji-steam_locomotive:before { content: '\1f682'; }
        .emoji-railway_car:before { content: '\1f683'; }
        .emoji-bullettrain_side:before { content: '\1f684'; }
        .emoji-bullettrain_front:before { content: '\1f685'; }
        .emoji-train2:before { content: '\1f686'; }
        .emoji-metro:before { content: '\1f687'; }
        .emoji-light_rail:before { content: '\1f688'; }
        .emoji-station:before { content: '\1f689'; }
        .emoji-tram:before { content: '\1f68a'; }
        .emoji-monorail:before { content: '\1f69d'; }
        .emoji-mountain_railway:before { content: '\1f69e'; }
        .emoji-train:before { content: '\1f68b'; }
        .emoji-bus:before { content: '\1f68c'; }
        .emoji-trolleybus:before { content: '\1f68e'; }
        .emoji-minibus:before { content: '\1f690'; }
        .emoji-ambulance:before { content: '\1f691'; }
        .emoji-fire_engine:before { content: '\1f692'; }
        .emoji-police_car:before { content: '\1f693'; }
        .emoji-oncoming_police_car:before { content: '\1f694'; }
        .emoji-taxi:before { content: '\1f695'; }
        .emoji-oncoming_taxi:before { content: '\1f696'; }
        .emoji-car:before { content: '\1f697'; }
        .emoji-oncoming_automobile:before { content: '\1f698'; }
        .emoji-blue_car:before { content: '\1f699'; }
        .emoji-pickup_truck:before { content: '\1f6fb'; }
        .emoji-truck:before { content: '\1f69a'; }
        .emoji-articulated_lorry:before { content: '\1f69b'; }
        .emoji-tractor:before { content: '\1f69c'; }
        .emoji-racing_car:before { content: '\1f3ce-fe0f'; }
        .emoji-racing_motorcycle:before { content: '\1f3cd-fe0f'; }
        .emoji-motor_scooter:before { content: '\1f6f5'; }
        .emoji-manual_wheelchair:before { content: '\1f9bd'; }
        .emoji-motorized_wheelchair:before { content: '\1f9bc'; }
        .emoji-auto_rickshaw:before { content: '\1f6fa'; }
        .emoji-bike:before { content: '\1f6b2'; }
        .emoji-scooter:before { content: '\1f6f4'; }
        .emoji-skateboard:before { content: '\1f6f9'; }
        .emoji-roller_skate:before { content: '\1f6fc'; }
        .emoji-busstop:before { content: '\1f68f'; }
        .emoji-motorway:before { content: '\1f6e3-fe0f'; }
        .emoji-railway_track:before { content: '\1f6e4-fe0f'; }
        .emoji-oil_drum:before { content: '\1f6e2-fe0f'; }
        .emoji-fuelpump:before { content: '\26fd'; }
        .emoji-wheel:before { content: '\1f6de'; }
        .emoji-rotating_light:before { content: '\1f6a8'; }
        .emoji-traffic_light:before { content: '\1f6a5'; }
        .emoji-vertical_traffic_light:before { content: '\1f6a6'; }
        .emoji-octagonal_sign:before { content: '\1f6d1'; }
        .emoji-construction:before { content: '\1f6a7'; }
        .emoji-anchor:before { content: '\2693'; }
        .emoji-ring_buoy:before { content: '\1f6df'; }
        .emoji-boat:before { content: '\26f5'; }
        .emoji-canoe:before { content: '\1f6f6'; }
        .emoji-speedboat:before { content: '\1f6a4'; }
        .emoji-passenger_ship:before { content: '\1f6f3-fe0f'; }
        .emoji-ferry:before { content: '\26f4-fe0f'; }
        .emoji-motor_boat:before { content: '\1f6e5-fe0f'; }
        .emoji-ship:before { content: '\1f6a2'; }
        .emoji-airplane:before { content: '\2708-fe0f'; }
        .emoji-small_airplane:before { content: '\1f6e9-fe0f'; }
        .emoji-airplane_departure:before { content: '\1f6eb'; }
        .emoji-airplane_arriving:before { content: '\1f6ec'; }
        .emoji-parachute:before { content: '\1fa82'; }
        .emoji-seat:before { content: '\1f4ba'; }
        .emoji-helicopter:before { content: '\1f681'; }
        .emoji-suspension_railway:before { content: '\1f69f'; }
        .emoji-mountain_cableway:before { content: '\1f6a0'; }
        .emoji-aerial_tramway:before { content: '\1f6a1'; }
        .emoji-satellite:before { content: '\1f6f0-fe0f'; }
        .emoji-rocket:before { content: '\1f680'; }
        .emoji-flying_saucer:before { content: '\1f6f8'; }
        .emoji-bellhop_bell:before { content: '\1f6ce-fe0f'; }
        .emoji-luggage:before { content: '\1f9f3'; }
        .emoji-hourglass:before { content: '\231b'; }
        .emoji-hourglass_flowing_sand:before { content: '\23f3'; }
        .emoji-watch:before { content: '\231a'; }
        .emoji-alarm_clock:before { content: '\23f0'; }
        .emoji-stopwatch:before { content: '\23f1-fe0f'; }
        .emoji-timer_clock:before { content: '\23f2-fe0f'; }
        .emoji-mantelpiece_clock:before { content: '\1f570-fe0f'; }
        .emoji-clock12:before { content: '\1f55b'; }
        .emoji-clock1230:before { content: '\1f567'; }
        .emoji-clock1:before { content: '\1f550'; }
        .emoji-clock130:before { content: '\1f55c'; }
        .emoji-clock2:before { content: '\1f551'; }
        .emoji-clock230:before { content: '\1f55d'; }
        .emoji-clock3:before { content: '\1f552'; }
        .emoji-clock330:before { content: '\1f55e'; }
        .emoji-clock4:before { content: '\1f553'; }
        .emoji-clock430:before { content: '\1f55f'; }
        .emoji-clock5:before { content: '\1f554'; }
        .emoji-clock530:before { content: '\1f560'; }
        .emoji-clock6:before { content: '\1f555'; }
        .emoji-clock630:before { content: '\1f561'; }
        .emoji-clock7:before { content: '\1f556'; }
        .emoji-clock730:before { content: '\1f562'; }
        .emoji-clock8:before { content: '\1f557'; }
        .emoji-clock830:before { content: '\1f563'; }
        .emoji-clock9:before { content: '\1f558'; }
        .emoji-clock930:before { content: '\1f564'; }
        .emoji-clock10:before { content: '\1f559'; }
        .emoji-clock1030:before { content: '\1f565'; }
        .emoji-clock11:before { content: '\1f55a'; }
        .emoji-clock1130:before { content: '\1f566'; }
        .emoji-new_moon:before { content: '\1f311'; }
        .emoji-waxing_crescent_moon:before { content: '\1f312'; }
        .emoji-first_quarter_moon:before { content: '\1f313'; }
        .emoji-moon:before { content: '\1f314'; }
        .emoji-full_moon:before { content: '\1f315'; }
        .emoji-waning_gibbous_moon:before { content: '\1f316'; }
        .emoji-last_quarter_moon:before { content: '\1f317'; }
        .emoji-waning_crescent_moon:before { content: '\1f318'; }
        .emoji-crescent_moon:before { content: '\1f319'; }
        .emoji-new_moon_with_face:before { content: '\1f31a'; }
        .emoji-first_quarter_moon_with_face:before { content: '\1f31b'; }
        .emoji-last_quarter_moon_with_face:before { content: '\1f31c'; }
        .emoji-thermometer:before { content: '\1f321-fe0f'; }
        .emoji-sunny:before { content: '\2600-fe0f'; }
        .emoji-full_moon_with_face:before { content: '\1f31d'; }
        .emoji-sun_with_face:before { content: '\1f31e'; }
        .emoji-ringed_planet:before { content: '\1fa90'; }
        .emoji-star:before { content: '\2b50'; }
        .emoji-star2:before { content: '\1f31f'; }
        .emoji-stars:before { content: '\1f320'; }
        .emoji-milky_way:before { content: '\1f30c'; }
        .emoji-cloud:before { content: '\2601-fe0f'; }
        .emoji-partly_sunny:before { content: '\26c5'; }
        .emoji-thunder_cloud_and_rain:before { content: '\26c8-fe0f'; }
        .emoji-mostly_sunny:before { content: '\1f324-fe0f'; }
        .emoji-barely_sunny:before { content: '\1f325-fe0f'; }
        .emoji-partly_sunny_rain:before { content: '\1f326-fe0f'; }
        .emoji-rain_cloud:before { content: '\1f327-fe0f'; }
        .emoji-snow_cloud:before { content: '\1f328-fe0f'; }
        .emoji-lightning:before { content: '\1f329-fe0f'; }
        .emoji-tornado:before { content: '\1f32a-fe0f'; }
        .emoji-fog:before { content: '\1f32b-fe0f'; }
        .emoji-wind_blowing_face:before { content: '\1f32c-fe0f'; }
        .emoji-cyclone:before { content: '\1f300'; }
        .emoji-rainbow:before { content: '\1f308'; }
        .emoji-closed_umbrella:before { content: '\1f302'; }
        .emoji-umbrella:before { content: '\2602-fe0f'; }
        .emoji-umbrella_with_rain_drops:before { content: '\2614'; }
        .emoji-umbrella_on_ground:before { content: '\26f1-fe0f'; }
        .emoji-zap:before { content: '\26a1'; }
        .emoji-snowflake:before { content: '\2744-fe0f'; }
        .emoji-snowman:before { content: '\2603-fe0f'; }
        .emoji-snowman_without_snow:before { content: '\26c4'; }
        .emoji-comet:before { content: '\2604-fe0f'; }
        .emoji-fire:before { content: '\1f525'; }
        .emoji-droplet:before { content: '\1f4a7'; }
        .emoji-ocean:before { content: '\1f30a'; }
        .emoji-oncoming_bus:before { content: '\1f68d'; }
        .emoji-earth_africa:before { content: '\1f30d'; }
        .emoji-earth_asia:before { content: '\1f30f'; }
        .emoji-globe_with_meridians:before { content: '\1f310'; }
        .emoji-world_map:before { content: '\1f5fa-fe0f'; }
        .emoji-compass:before { content: '\1f9ed'; }
        .emoji-japan:before { content: '\1f5fe'; }
        .emoji-snow_capped_mountain:before { content: '\1f3d4-fe0f'; }
        .emoji-mountain:before { content: '\26f0-fe0f'; }
        .emoji-volcano:before { content: '\1f30b'; }
        .emoji-mount_fuji:before { content: '\1f5fb'; }
        .emoji-camping:before { content: '\1f3d5-fe0f'; }
        .emoji-beach_with_umbrella:before { content: '\1f3d6-fe0f'; }
        .emoji-desert:before { content: '\1f3dc-fe0f'; }
        .emoji-stadium:before { content: '\1f3df-fe0f'; }
        .emoji-classical_building:before { content: '\1f3db-fe0f'; }
        .emoji-building_construction:before { content: '\1f3d7-fe0f'; }
        .emoji-bricks:before { content: '\1f9f1'; }
        .emoji-wood:before { content: '\1fab5'; }
        .emoji-rock:before { content: '\1faa8'; }
        .emoji-hut:before { content: '\1f6d6'; }
        .emoji-house_buildings:before { content: '\1f3d8-fe0f'; }
        .emoji-derelict_house_building:before { content: '\1f3da-fe0f'; }
        .emoji-house:before { content: '\1f3e0'; }
        .emoji-house_with_garden:before { content: '\1f3e1'; }
        .emoji-office:before { content: '\1f3e2'; }
        .emoji-post_office:before { content: '\1f3e3'; }
        .emoji-european_post_office:before { content: '\1f3e4'; }
        .emoji-hospital:before { content: '\1f3e5'; }
        .emoji-bank:before { content: '\1f3e6'; }
        .emoji-hotel:before { content: '\1f3e8'; }
        .emoji-love_hotel:before { content: '\1f3e9'; }
        .emoji-school:before { content: '\1f3eb'; }
        .emoji-convenience_store:before { content: '\1f3ea'; }
        .emoji-factory:before { content: '\1f3ed'; }
        .emoji-department_store:before { content: '\1f3ec'; }
        .emoji-japanese_castle:before { content: '\1f3ef'; }
        .emoji-european_castle:before { content: '\1f3f0'; }
        .emoji-wedding:before { content: '\1f492'; }
        .emoji-tokyo_tower:before { content: '\1f5fc'; }
        .emoji-statue_of_liberty:before { content: '\1f5fd'; }
        .emoji-church:before { content: '\26ea'; }
        .emoji-mosque:before { content: '\1f54c'; }
        .emoji-hindu_temple:before { content: '\1f6d5'; }
        .emoji-synagogue:before { content: '\1f54d'; }
        .emoji-shinto_shrine:before { content: '\26e9-fe0f'; }
        .emoji-kaaba:before { content: '\1f54b'; }
        .emoji-fountain:before { content: '\26f2'; }
        .emoji-tent:before { content: '\26fa'; }
        .emoji-foggy:before { content: '\1f301'; }
        .emoji-night_with_stars:before { content: '\1f303'; }
        .emoji-cityscape:before { content: '\1f3d9-fe0f'; }
        .emoji-sunrise_over_mountains:before { content: '\1f304'; }
        .emoji-sunrise:before { content: '\1f305'; }
        .emoji-city_sunset:before { content: '\1f306'; }
        .emoji-city_sunrise:before { content: '\1f307'; }
        .emoji-bridge_at_night:before { content: '\1f309'; }
        .emoji-hotsprings:before { content: '\2668-fe0f'; }
        .emoji-carousel_horse:before { content: '\1f3a0'; }
        .emoji-playground_slide:before { content: '\1f6dd'; }
        .emoji-ferris_wheel:before { content: '\1f3a1'; }
        .emoji-roller_coaster:before { content: '\1f3a2'; }
        .emoji-barber:before { content: '\1f488'; }
        .emoji-circus_tent:before { content: '\1f3aa'; }
        .emoji-national_park:before { content: '\1f3de-fe0f'; }
        .emoji-earth_americas:before { content: '\1f30e'; }
        .emoji-bullettrain_side:before { content: '\1f684'; }
        .emoji-bullettrain_front:before { content: '\1f685'; }
        .emoji-train2:before { content: '\1f686'; }
        .emoji-metro:before { content: '\1f687'; }
        .emoji-light_rail:before { content: '\1f688'; }
        .emoji-station:before { content: '\1f689'; }
        .emoji-tram:before { content: '\1f68a'; }
        .emoji-monorail:before { content: '\1f69d'; }
        .emoji-mountain_railway:before { content: '\1f69e'; }
        .emoji-train:before { content: '\1f68b'; }
        .emoji-bus:before { content: '\1f68c'; }
        .emoji-oncoming_bus:before { content: '\1f68d'; }
        .emoji-trolleybus:before { content: '\1f68e'; }
        .emoji-minibus:before { content: '\1f690'; }
        .emoji-ambulance:before { content: '\1f691'; }
        .emoji-fire_engine:before { content: '\1f692'; }
        .emoji-police_car:before { content: '\1f693'; }
        .emoji-oncoming_police_car:before { content: '\1f694'; }
        .emoji-taxi:before { content: '\1f695'; }
        .emoji-oncoming_taxi:before { content: '\1f696'; }
        .emoji-car:before { content: '\1f697'; }
        .emoji-oncoming_automobile:before { content: '\1f698'; }
        .emoji-blue_car:before { content: '\1f699'; }
        .emoji-pickup_truck:before { content: '\1f6fb'; }
        .emoji-truck:before { content: '\1f69a'; }
        .emoji-articulated_lorry:before { content: '\1f69b'; }
        .emoji-tractor:before { content: '\1f69c'; }
        .emoji-railway_car:before { content: '\1f683'; }
        .emoji-desert_island:before { content: '\1f3dd-fe0f'; }
        .emoji-motor_scooter:before { content: '\1f6f5'; }
        .emoji-manual_wheelchair:before { content: '\1f9bd'; }
        .emoji-motorized_wheelchair:before { content: '\1f9bc'; }
        .emoji-auto_rickshaw:before { content: '\1f6fa'; }
        .emoji-bike:before { content: '\1f6b2'; }
        .emoji-scooter:before { content: '\1f6f4'; }
        .emoji-skateboard:before { content: '\1f6f9'; }
        .emoji-roller_skate:before { content: '\1f6fc'; }
        .emoji-busstop:before { content: '\1f68f'; }
        .emoji-steam_locomotive:before { content: '\1f682'; }
        .emoji-railway_track:before { content: '\1f6e4-fe0f'; }
        .emoji-oil_drum:before { content: '\1f6e2-fe0f'; }
        .emoji-fuelpump:before { content: '\26fd'; }
        .emoji-racing_car:before { content: '\1f3ce-fe0f'; }
        .emoji-rotating_light:before { content: '\1f6a8'; }
        .emoji-traffic_light:before { content: '\1f6a5'; }
        .emoji-vertical_traffic_light:before { content: '\1f6a6'; }
        .emoji-octagonal_sign:before { content: '\1f6d1'; }
        .emoji-construction:before { content: '\1f6a7'; }
        .emoji-anchor:before { content: '\2693'; }
        .emoji-ring_buoy:before { content: '\1f6df'; }
        .emoji-boat:before { content: '\26f5'; }
        .emoji-canoe:before { content: '\1f6f6'; }
        .emoji-speedboat:before { content: '\1f6a4'; }
        .emoji-passenger_ship:before { content: '\1f6f3-fe0f'; }
        .emoji-ferry:before { content: '\26f4-fe0f'; }
        .emoji-motor_boat:before { content: '\1f6e5-fe0f'; }
        .emoji-ship:before { content: '\1f6a2'; }
        .emoji-airplane:before { content: '\2708-fe0f'; }
        .emoji-small_airplane:before { content: '\1f6e9-fe0f'; }
        .emoji-wheel:before { content: '\1f6de'; }
        .emoji-racing_motorcycle:before { content: '\1f3cd-fe0f'; }
        .emoji-parachute:before { content: '\1fa82'; }
        .emoji-seat:before { content: '\1f4ba'; }
        .emoji-helicopter:before { content: '\1f681'; }
        .emoji-suspension_railway:before { content: '\1f69f'; }
        .emoji-mountain_cableway:before { content: '\1f6a0'; }
        .emoji-aerial_tramway:before { content: '\1f6a1'; }
        .emoji-satellite:before { content: '\1f6f0-fe0f'; }
        .emoji-rocket:before { content: '\1f680'; }
        .emoji-flying_saucer:before { content: '\1f6f8'; }
        .emoji-bellhop_bell:before { content: '\1f6ce-fe0f'; }
        .emoji-luggage:before { content: '\1f9f3'; }
        .emoji-hourglass:before { content: '\231b'; }
        .emoji-hourglass_flowing_sand:before { content: '\23f3'; }
        .emoji-watch:before { content: '\231a'; }
        .emoji-airplane_arriving:before { content: '\1f6ec'; }
        .emoji-stopwatch:before { content: '\23f1-fe0f'; }
        .emoji-timer_clock:before { content: '\23f2-fe0f'; }
        .emoji-mantelpiece_clock:before { content: '\1f570-fe0f'; }
        .emoji-clock12:before { content: '\1f55b'; }
        .emoji-clock1230:before { content: '\1f567'; }
        .emoji-clock1:before { content: '\1f550'; }
        .emoji-clock130:before { content: '\1f55c'; }
        .emoji-clock2:before { content: '\1f551'; }
        .emoji-clock230:before { content: '\1f55d'; }
        .emoji-clock3:before { content: '\1f552'; }
        .emoji-clock330:before { content: '\1f55e'; }
        .emoji-alarm_clock:before { content: '\23f0'; }
        .emoji-clock430:before { content: '\1f55f'; }
        .emoji-clock5:before { content: '\1f554'; }
        .emoji-clock530:before { content: '\1f560'; }
        .emoji-clock6:before { content: '\1f555'; }
        .emoji-clock630:before { content: '\1f561'; }
        .emoji-clock7:before { content: '\1f556'; }
        .emoji-clock730:before { content: '\1f562'; }
        .emoji-clock8:before { content: '\1f557'; }
        .emoji-clock830:before { content: '\1f563'; }
        .emoji-clock9:before { content: '\1f558'; }
        .emoji-clock930:before { content: '\1f564'; }
        .emoji-clock10:before { content: '\1f559'; }
        .emoji-clock1030:before { content: '\1f565'; }
        .emoji-motorway:before { content: '\1f6e3-fe0f'; }
        .emoji-clock1130:before { content: '\1f566'; }
        .emoji-new_moon:before { content: '\1f311'; }
        .emoji-clock11:before { content: '\1f55a'; }
        .emoji-first_quarter_moon:before { content: '\1f313'; }
        .emoji-moon:before { content: '\1f314'; }
        .emoji-airplane_departure:before { content: '\1f6eb'; }
        .emoji-waning_gibbous_moon:before { content: '\1f316'; }
        .emoji-last_quarter_moon:before { content: '\1f317'; }
        .emoji-waning_crescent_moon:before { content: '\1f318'; }
        .emoji-crescent_moon:before { content: '\1f319'; }
        .emoji-new_moon_with_face:before { content: '\1f31a'; }
        .emoji-first_quarter_moon_with_face:before { content: '\1f31b'; }
        .emoji-last_quarter_moon_with_face:before { content: '\1f31c'; }
        .emoji-thermometer:before { content: '\1f321-fe0f'; }
        .emoji-sunny:before { content: '\2600-fe0f'; }
        .emoji-full_moon_with_face:before { content: '\1f31d'; }
        .emoji-sun_with_face:before { content: '\1f31e'; }
        .emoji-ringed_planet:before { content: '\1fa90'; }
        .emoji-star:before { content: '\2b50'; }
        .emoji-star2:before { content: '\1f31f'; }
        .emoji-stars:before { content: '\1f320'; }
        .emoji-milky_way:before { content: '\1f30c'; }
        .emoji-partly_sunny:before { content: '\26c5'; }
        .emoji-cloud:before { content: '\2601-fe0f'; }
        .emoji-thunder_cloud_and_rain:before { content: '\26c8-fe0f'; }
        .emoji-mostly_sunny:before { content: '\1f324-fe0f'; }
        .emoji-barely_sunny:before { content: '\1f325-fe0f'; }
        .emoji-partly_sunny_rain:before { content: '\1f326-fe0f'; }
        .emoji-rain_cloud:before { content: '\1f327-fe0f'; }
        .emoji-lightning:before { content: '\1f329-fe0f'; }
        .emoji-snow_cloud:before { content: '\1f328-fe0f'; }
        .emoji-tornado:before { content: '\1f32a-fe0f'; }
        .emoji-fog:before { content: '\1f32b-fe0f'; }
        .emoji-wind_blowing_face:before { content: '\1f32c-fe0f'; }
        .emoji-cyclone:before { content: '\1f300'; }
        .emoji-rainbow:before { content: '\1f308'; }
        .emoji-closed_umbrella:before { content: '\1f302'; }
        .emoji-umbrella:before { content: '\2602-fe0f'; }
        .emoji-umbrella_with_rain_drops:before { content: '\2614'; }
        .emoji-umbrella_on_ground:before { content: '\26f1-fe0f'; }
        .emoji-zap:before { content: '\26a1'; }
        .emoji-snowflake:before { content: '\2744-fe0f'; }
        .emoji-snowman:before { content: '\2603-fe0f'; }
        .emoji-snowman_without_snow:before { content: '\26c4'; }
        .emoji-comet:before { content: '\2604-fe0f'; }
        .emoji-fire:before { content: '\1f525'; }
        .emoji-droplet:before { content: '\1f4a7'; }
        .emoji-ocean:before { content: '\1f30a'; }
        .emoji-waxing_crescent_moon:before { content: '\1f312'; }
        .emoji-full_moon:before { content: '\1f315'; }
        .emoji-clock4:before { content: '\1f553'; }
        