.emoji-monkey:before { content: '\1f412'; }
             .emoji-dog:before { content: '\1f436'; }
        .emoji-dog2:before { content: '\1f415'; }
        .emoji-guide_dog:before { content: '\1f9ae'; }
        .emoji-service_dog:before { content: '\1f415-200d-1f9ba'; }
        .emoji-poodle:before { content: '\1f429'; }
        .emoji-wolf:before { content: '\1f43a'; }
        .emoji-fox_face:before { content: '\1f98a'; }
        .emoji-raccoon:before { content: '\1f99d'; }
        .emoji-cat:before { content: '\1f431'; }
        .emoji-cat2:before { content: '\1f408'; }
        .emoji-black_cat:before { content: '\1f408-200d-2b1b'; }
        .emoji-lion_face:before { content: '\1f981'; }
        .emoji-tiger:before { content: '\1f42f'; }
        .emoji-tiger2:before { content: '\1f405'; }
        .emoji-leopard:before { content: '\1f406'; }
        .emoji-horse:before { content: '\1f434'; }
        .emoji-racehorse:before { content: '\1f40e'; }
        .emoji-unicorn_face:before { content: '\1f984'; }
        .emoji-zebra_face:before { content: '\1f993'; }
        .emoji-deer:before { content: '\1f98c'; }
        .emoji-bison:before { content: '\1f9ac'; }
        .emoji-cow:before { content: '\1f42e'; }
        .emoji-ox:before { content: '\1f402'; }
        .emoji-water_buffalo:before { content: '\1f403'; }
        .emoji-cow2:before { content: '\1f404'; }
        .emoji-pig:before { content: '\1f437'; }
        .emoji-pig2:before { content: '\1f416'; }
        .emoji-boar:before { content: '\1f417'; }
        .emoji-pig_nose:before { content: '\1f43d'; }
        .emoji-ram:before { content: '\1f40f'; }
        .emoji-sheep:before { content: '\1f411'; }
        .emoji-goat:before { content: '\1f410'; }
        .emoji-dromedary_camel:before { content: '\1f42a'; }
        .emoji-camel:before { content: '\1f42b'; }
        .emoji-llama:before { content: '\1f999'; }
        .emoji-giraffe_face:before { content: '\1f992'; }
        .emoji-elephant:before { content: '\1f418'; }
        .emoji-mammoth:before { content: '\1f9a3'; }
        .emoji-rhinoceros:before { content: '\1f98f'; }
        .emoji-hippopotamus:before { content: '\1f99b'; }
        .emoji-mouse:before { content: '\1f42d'; }
        .emoji-mouse2:before { content: '\1f401'; }
        .emoji-rat:before { content: '\1f400'; }
        .emoji-hamster:before { content: '\1f439'; }
        .emoji-rabbit:before { content: '\1f430'; }
        .emoji-rabbit2:before { content: '\1f407'; }
        .emoji-chipmunk:before { content: '\1f43f-fe0f'; }
        .emoji-beaver:before { content: '\1f9ab'; }
        .emoji-hedgehog:before { content: '\1f994'; }
        .emoji-bat:before { content: '\1f987'; }
        .emoji-bear:before { content: '\1f43b'; }
        .emoji-polar_bear:before { content: '\1f43b-200d-2744-fe0f'; }
        .emoji-koala:before { content: '\1f428'; }
        .emoji-panda_face:before { content: '\1f43c'; }
        .emoji-sloth:before { content: '\1f9a5'; }
        .emoji-skunk:before { content: '\1f9a8'; }
        .emoji-otter:before { content: '\1f9a6'; }
        .emoji-kangaroo:before { content: '\1f998'; }
        .emoji-badger:before { content: '\1f9a1'; }
        .emoji-feet:before { content: '\1f43e'; }
        .emoji-turkey:before { content: '\1f983'; }
        .emoji-chicken:before { content: '\1f414'; }
        .emoji-rooster:before { content: '\1f413'; }
        .emoji-hatching_chick:before { content: '\1f423'; }
        .emoji-baby_chick:before { content: '\1f424'; }
        .emoji-hatched_chick:before { content: '\1f425'; }
        .emoji-bird:before { content: '\1f426'; }
        .emoji-penguin:before { content: '\1f427'; }
        .emoji-dove_of_peace:before { content: '\1f54a-fe0f'; }
        .emoji-eagle:before { content: '\1f985'; }
        .emoji-duck:before { content: '\1f986'; }
        .emoji-swan:before { content: '\1f9a2'; }
        .emoji-owl:before { content: '\1f989'; }
        .emoji-dodo:before { content: '\1f9a4'; }
        .emoji-feather:before { content: '\1fab6'; }
        .emoji-flamingo:before { content: '\1f9a9'; }
        .emoji-peacock:before { content: '\1f99a'; }
        .emoji-parrot:before { content: '\1f99c'; }
        .emoji-frog:before { content: '\1f438'; }
        .emoji-crocodile:before { content: '\1f40a'; }
        .emoji-turtle:before { content: '\1f422'; }
        .emoji-lizard:before { content: '\1f98e'; }
        .emoji-snake:before { content: '\1f40d'; }
        .emoji-dragon_face:before { content: '\1f432'; }
        .emoji-dragon:before { content: '\1f409'; }
        .emoji-sauropod:before { content: '\1f995'; }
        .emoji-t-rex:before { content: '\1f996'; }
        .emoji-whale:before { content: '\1f433'; }
        .emoji-whale2:before { content: '\1f40b'; }
        .emoji-dolphin:before { content: '\1f42c'; }
        .emoji-seal:before { content: '\1f9ad'; }
        .emoji-fish:before { content: '\1f41f'; }
        .emoji-tropical_fish:before { content: '\1f420'; }
        .emoji-blowfish:before { content: '\1f421'; }
        .emoji-shark:before { content: '\1f988'; }
        .emoji-octopus:before { content: '\1f419'; }
        .emoji-shell:before { content: '\1f41a'; }
        .emoji-coral:before { content: '\1fab8'; }
        .emoji-snail:before { content: '\1f40c'; }
        .emoji-butterfly:before { content: '\1f98b'; }
        .emoji-bug:before { content: '\1f41b'; }
        .emoji-ant:before { content: '\1f41c'; }
        .emoji-bee:before { content: '\1f41d'; }
        .emoji-beetle:before { content: '\1fab2'; }
        .emoji-ladybug:before { content: '\1f41e'; }
        .emoji-cricket:before { content: '\1f997'; }
        .emoji-cockroach:before { content: '\1fab3'; }
        .emoji-spider:before { content: '\1f577-fe0f'; }
        .emoji-spider_web:before { content: '\1f578-fe0f'; }
        .emoji-scorpion:before { content: '\1f982'; }
        .emoji-mosquito:before { content: '\1f99f'; }
        .emoji-fly:before { content: '\1fab0'; }
        .emoji-worm:before { content: '\1fab1'; }
        .emoji-microbe:before { content: '\1f9a0'; }
        .emoji-bouquet:before { content: '\1f490'; }
        .emoji-cherry_blossom:before { content: '\1f338'; }
        .emoji-white_flower:before { content: '\1f4ae'; }
        .emoji-lotus:before { content: '\1fab7'; }
        .emoji-rosette:before { content: '\1f3f5-fe0f'; }
        .emoji-rose:before { content: '\1f339'; }
        .emoji-hibiscus:before { content: '\1f33a'; }
        .emoji-sunflower:before { content: '\1f33b'; }
        .emoji-blossom:before { content: '\1f33c'; }
        .emoji-tulip:before { content: '\1f337'; }
        .emoji-seedling:before { content: '\1f331'; }
        .emoji-potted_plant:before { content: '\1fab4'; }
        .emoji-evergreen_tree:before { content: '\1f332'; }
        .emoji-deciduous_tree:before { content: '\1f333'; }
        .emoji-palm_tree:before { content: '\1f334'; }
        .emoji-cactus:before { content: '\1f335'; }
        .emoji-ear_of_rice:before { content: '\1f33e'; }
        .emoji-herb:before { content: '\1f33f'; }
        .emoji-shamrock:before { content: '\2618-fe0f'; }
        .emoji-four_leaf_clover:before { content: '\1f340'; }
        .emoji-maple_leaf:before { content: '\1f341'; }
        .emoji-fallen_leaf:before { content: '\1f342'; }
        .emoji-leaves:before { content: '\1f343'; }
        .emoji-empty_nest:before { content: '\1fab9'; }
        .emoji-nest_with_eggs:before { content: '\1faba'; }
        .emoji-wilted_flower:before { content: '\1f940'; }
        .emoji-monkey_face:before { content: '\1f435'; }
        .emoji-monkey:before { content: '\1f412'; }
        .emoji-gorilla:before { content: '\1f98d'; }
        .emoji-orangutan:before { content: '\1f9a7'; }
        .emoji-dog:before { content: '\1f436'; }
        .emoji-dog2:before { content: '\1f415'; }
        .emoji-guide_dog:before { content: '\1f9ae'; }
        .emoji-service_dog:before { content: '\1f415-200d-1f9ba'; }
        .emoji-poodle:before { content: '\1f429'; }
        .emoji-wolf:before { content: '\1f43a'; }
        .emoji-fox_face:before { content: '\1f98a'; }
        .emoji-raccoon:before { content: '\1f99d'; }
        .emoji-cat:before { content: '\1f431'; }
        .emoji-cat2:before { content: '\1f408'; }
        .emoji-black_cat:before { content: '\1f408-200d-2b1b'; }
        .emoji-lion_face:before { content: '\1f981'; }
        .emoji-tiger:before { content: '\1f42f'; }
        .emoji-tiger2:before { content: '\1f405'; }
        .emoji-leopard:before { content: '\1f406'; }
        .emoji-horse:before { content: '\1f434'; }
        .emoji-racehorse:before { content: '\1f40e'; }
        .emoji-unicorn_face:before { content: '\1f984'; }
        .emoji-zebra_face:before { content: '\1f993'; }
        .emoji-deer:before { content: '\1f98c'; }
        .emoji-cow:before { content: '\1f42e'; }
        .emoji-ox:before { content: '\1f402'; }
        .emoji-bison:before { content: '\1f9ac'; }
        .emoji-cow2:before { content: '\1f404'; }
        .emoji-pig:before { content: '\1f437'; }
        .emoji-pig2:before { content: '\1f416'; }
        .emoji-boar:before { content: '\1f417'; }
        .emoji-pig_nose:before { content: '\1f43d'; }
        .emoji-ram:before { content: '\1f40f'; }
        .emoji-sheep:before { content: '\1f411'; }
        .emoji-goat:before { content: '\1f410'; }
        .emoji-dromedary_camel:before { content: '\1f42a'; }
        .emoji-camel:before { content: '\1f42b'; }
        .emoji-llama:before { content: '\1f999'; }
        .emoji-giraffe_face:before { content: '\1f992'; }
        .emoji-elephant:before { content: '\1f418'; }
        .emoji-mammoth:before { content: '\1f9a3'; }
        .emoji-rhinoceros:before { content: '\1f98f'; }
        .emoji-hippopotamus:before { content: '\1f99b'; }
        .emoji-mouse:before { content: '\1f42d'; }
        .emoji-rat:before { content: '\1f400'; }
        .emoji-hamster:before { content: '\1f439'; }
        .emoji-rabbit:before { content: '\1f430'; }
        .emoji-rabbit2:before { content: '\1f407'; }
        .emoji-chipmunk:before { content: '\1f43f-fe0f'; }
        .emoji-beaver:before { content: '\1f9ab'; }
        .emoji-hedgehog:before { content: '\1f994'; }
        .emoji-bat:before { content: '\1f987'; }
        .emoji-polar_bear:before { content: '\1f43b-200d-2744-fe0f'; }
        .emoji-bear:before { content: '\1f43b'; }
        .emoji-koala:before { content: '\1f428'; }
        .emoji-panda_face:before { content: '\1f43c'; }
        .emoji-sloth:before { content: '\1f9a5'; }
        .emoji-otter:before { content: '\1f9a6'; }
        .emoji-skunk:before { content: '\1f9a8'; }
        .emoji-kangaroo:before { content: '\1f998'; }
        .emoji-badger:before { content: '\1f9a1'; }
        .emoji-feet:before { content: '\1f43e'; }
        .emoji-turkey:before { content: '\1f983'; }
        .emoji-chicken:before { content: '\1f414'; }
        .emoji-rooster:before { content: '\1f413'; }
        .emoji-hatching_chick:before { content: '\1f423'; }
        .emoji-baby_chick:before { content: '\1f424'; }
        .emoji-hatched_chick:before { content: '\1f425'; }
        .emoji-bird:before { content: '\1f426'; }
        .emoji-penguin:before { content: '\1f427'; }
        .emoji-dove_of_peace:before { content: '\1f54a-fe0f'; }
        .emoji-eagle:before { content: '\1f985'; }
        .emoji-duck:before { content: '\1f986'; }
        .emoji-swan:before { content: '\1f9a2'; }
        .emoji-owl:before { content: '\1f989'; }
        .emoji-dodo:before { content: '\1f9a4'; }
        .emoji-feather:before { content: '\1fab6'; }
        .emoji-flamingo:before { content: '\1f9a9'; }
        .emoji-peacock:before { content: '\1f99a'; }
        .emoji-parrot:before { content: '\1f99c'; }
        .emoji-frog:before { content: '\1f438'; }
        .emoji-crocodile:before { content: '\1f40a'; }
        .emoji-turtle:before { content: '\1f422'; }
        .emoji-lizard:before { content: '\1f98e'; }
        .emoji-snake:before { content: '\1f40d'; }
        .emoji-dragon_face:before { content: '\1f432'; }
        .emoji-dragon:before { content: '\1f409'; }
        .emoji-sauropod:before { content: '\1f995'; }
        .emoji-t-rex:before { content: '\1f996'; }
        .emoji-whale:before { content: '\1f433'; }
        .emoji-whale2:before { content: '\1f40b'; }
        .emoji-dolphin:before { content: '\1f42c'; }
        .emoji-seal:before { content: '\1f9ad'; }
        .emoji-fish:before { content: '\1f41f'; }
        .emoji-tropical_fish:before { content: '\1f420'; }
        .emoji-blowfish:before { content: '\1f421'; }
        .emoji-octopus:before { content: '\1f419'; }
        .emoji-shell:before { content: '\1f41a'; }
        .emoji-coral:before { content: '\1fab8'; }
        .emoji-snail:before { content: '\1f40c'; }
        .emoji-butterfly:before { content: '\1f98b'; }
        .emoji-bug:before { content: '\1f41b'; }
        .emoji-ant:before { content: '\1f41c'; }
        .emoji-bee:before { content: '\1f41d'; }
        .emoji-shark:before { content: '\1f988'; }
        .emoji-water_buffalo:before { content: '\1f403'; }
        .emoji-cricket:before { content: '\1f997'; }
        .emoji-cockroach:before { content: '\1fab3'; }
        .emoji-spider:before { content: '\1f577-fe0f'; }
        .emoji-spider_web:before { content: '\1f578-fe0f'; }
        .emoji-scorpion:before { content: '\1f982'; }
        .emoji-mosquito:before { content: '\1f99f'; }
        .emoji-fly:before { content: '\1fab0'; }
        .emoji-worm:before { content: '\1fab1'; }
        .emoji-microbe:before { content: '\1f9a0'; }
        .emoji-bouquet:before { content: '\1f490'; }
        .emoji-cherry_blossom:before { content: '\1f338'; }
        .emoji-white_flower:before { content: '\1f4ae'; }
        .emoji-lotus:before { content: '\1fab7'; }
        .emoji-rosette:before { content: '\1f3f5-fe0f'; }
        .emoji-rose:before { content: '\1f339'; }
        .emoji-wilted_flower:before { content: '\1f940'; }
        .emoji-hibiscus:before { content: '\1f33a'; }
        .emoji-sunflower:before { content: '\1f33b'; }
        .emoji-blossom:before { content: '\1f33c'; }
        .emoji-tulip:before { content: '\1f337'; }
        .emoji-seedling:before { content: '\1f331'; }
        .emoji-potted_plant:before { content: '\1fab4'; }
        .emoji-evergreen_tree:before { content: '\1f332'; }
        .emoji-deciduous_tree:before { content: '\1f333'; }
        .emoji-palm_tree:before { content: '\1f334'; }
        .emoji-beetle:before { content: '\1fab2'; }
        .emoji-ear_of_rice:before { content: '\1f33e'; }
        .emoji-herb:before { content: '\1f33f'; }
        .emoji-shamrock:before { content: '\2618-fe0f'; }
        .emoji-four_leaf_clover:before { content: '\1f340'; }
        .emoji-maple_leaf:before { content: '\1f341'; }
        .emoji-fallen_leaf:before { content: '\1f342'; }
        .emoji-leaves:before { content: '\1f343'; }
        .emoji-empty_nest:before { content: '\1fab9'; }
        .emoji-nest_with_eggs:before { content: '\1faba'; }
        .emoji-cactus:before { content: '\1f335'; }
        .emoji-ladybug:before { content: '\1f41e'; }
        .emoji-mouse2:before { content: '\1f401'; }
        