.emoji-crossed_flags:before { content: '\1f38c'; }
        -26a7-fe0f'; }
        .emoji-pirate_flag:before { content: '\1f3f4-200d-2620-fe0f'; }
        .emoji-flag-ae:before { content: '\1f1e6-1f1ea'; }
        .emoji-flag-ac:before { content: '\1f1e6-1f1e8'; }
        .emoji-flag-ag:before { content: '\1f1e6-1f1ec'; }
        .emoji-flag-ai:before { content: '\1f1e6-1f1ee'; }
        .emoji-flag-al:before { content: '\1f1e6-1f1f1'; }
        .emoji-flag-am:before { content: '\1f1e6-1f1f2'; }
        .emoji-flag-ao:before { content: '\1f1e6-1f1f4'; }
        .emoji-flag-aq:before { content: '\1f1e6-1f1f6'; }
        .emoji-flag-ar:before { content: '\1f1e6-1f1f7'; }
        .emoji-flag-as:before { content: '\1f1e6-1f1f8'; }
        .emoji-flag-af:before { content: '\1f1e6-1f1eb'; }
        .emoji-flag-aw:before { content: '\1f1e6-1f1fc'; }
        .emoji-flag-ax:before { content: '\1f1e6-1f1fd'; }
        .emoji-flag-az:before { content: '\1f1e6-1f1ff'; }
        .emoji-flag-ba:before { content: '\1f1e7-1f1e6'; }
        .emoji-flag-bb:before { content: '\1f1e7-1f1e7'; }
        .emoji-flag-at:before { content: '\1f1e6-1f1f9'; }
        .emoji-flag-be:before { content: '\1f1e7-1f1ea'; }
        .emoji-flag-bd:before { content: '\1f1e7-1f1e9'; }
        .emoji-flag-bg:before { content: '\1f1e7-1f1ec'; }
        .emoji-flag-bh:before { content: '\1f1e7-1f1ed'; }
        .emoji-flag-bi:before { content: '\1f1e7-1f1ee'; }
        .emoji-flag-bj:before { content: '\1f1e7-1f1ef'; }
        .emoji-flag-au:before { content: '\1f1e6-1f1fa'; }
        .emoji-flag-ad:before { content: '\1f1e6-1f1e9'; }
        .emoji-flag-bn:before { content: '\1f1e7-1f1f3'; }
        .emoji-flag-bo:before { content: '\1f1e7-1f1f4'; }
        .emoji-flag-bq:before { content: '\1f1e7-1f1f6'; }
        .emoji-flag-br:before { content: '\1f1e7-1f1f7'; }
        .emoji-flag-bs:before { content: '\1f1e7-1f1f8'; }
        .emoji-flag-bt:before { content: '\1f1e7-1f1f9'; }
        .emoji-flag-bl:before { content: '\1f1e7-1f1f1'; }
        .emoji-flag-bv:before { content: '\1f1e7-1f1fb'; }
        .emoji-flag-by:before { content: '\1f1e7-1f1fe'; }
        .emoji-flag-bz:before { content: '\1f1e7-1f1ff'; }
        .emoji-flag-cc:before { content: '\1f1e8-1f1e8'; }
        .emoji-flag-bm:before { content: '\1f1e7-1f1f2'; }
        .emoji-flag-ca:before { content: '\1f1e8-1f1e6'; }
        .emoji-flag-cf:before { content: '\1f1e8-1f1eb'; }
        .emoji-flag-cg:before { content: '\1f1e8-1f1ec'; }
        .emoji-flag-ch:before { content: '\1f1e8-1f1ed'; }
        .emoji-flag-bw:before { content: '\1f1e7-1f1fc'; }
        .emoji-flag-cd:before { content: '\1f1e8-1f1e9'; }
        .emoji-flag-cl:before { content: '\1f1e8-1f1f1'; }
        .emoji-cn:before { content: '\1f1e8-1f1f3'; }
        .emoji-flag-cm:before { content: '\1f1e8-1f1f2'; }
        .emoji-flag-ck:before { content: '\1f1e8-1f1f0'; }
        .emoji-flag-cp:before { content: '\1f1e8-1f1f5'; }
        .emoji-flag-cr:before { content: '\1f1e8-1f1f7'; }
        .emoji-flag-co:before { content: '\1f1e8-1f1f4'; }
        .emoji-flag-ci:before { content: '\1f1e8-1f1ee'; }
        .emoji-flag-cw:before { content: '\1f1e8-1f1fc'; }
        .emoji-flag-bf:before { content: '\1f1e7-1f1eb'; }
        .emoji-flag-cy:before { content: '\1f1e8-1f1fe'; }
        .emoji-flag-cz:before { content: '\1f1e8-1f1ff'; }
        .emoji-flag-cx:before { content: '\1f1e8-1f1fd'; }
        .emoji-flag-dg:before { content: '\1f1e9-1f1ec'; }
        .emoji-flag-cu:before { content: '\1f1e8-1f1fa'; }
        .emoji-flag-dk:before { content: '\1f1e9-1f1f0'; }
        .emoji-flag-dm:before { content: '\1f1e9-1f1f2'; }
        .emoji-flag-do:before { content: '\1f1e9-1f1f4'; }
        .emoji-flag-dz:before { content: '\1f1e9-1f1ff'; }
        .emoji-de:before { content: '\1f1e9-1f1ea'; }
        .emoji-flag-ec:before { content: '\1f1ea-1f1e8'; }
        .emoji-flag-ee:before { content: '\1f1ea-1f1ea'; }
        .emoji-flag-dj:before { content: '\1f1e9-1f1ef'; }
        .emoji-flag-er:before { content: '\1f1ea-1f1f7'; }
        .emoji-es:before { content: '\1f1ea-1f1f8'; }
        .emoji-flag-eh:before { content: '\1f1ea-1f1ed'; }
        .emoji-flag-et:before { content: '\1f1ea-1f1f9'; }
        .emoji-flag-eu:before { content: '\1f1ea-1f1fa'; }
        .emoji-flag-cv:before { content: '\1f1e8-1f1fb'; }
        .emoji-flag-fi:before { content: '\1f1eb-1f1ee'; }
        .emoji-flag-fk:before { content: '\1f1eb-1f1f0'; }
        .emoji-flag-eg:before { content: '\1f1ea-1f1ec'; }
        .emoji-flag-fo:before { content: '\1f1eb-1f1f4'; }
        .emoji-fr:before { content: '\1f1eb-1f1f7'; }
        .emoji-flag-ga:before { content: '\1f1ec-1f1e6'; }
        .emoji-gb:before { content: '\1f1ec-1f1e7'; }
        .emoji-flag-gd:before { content: '\1f1ec-1f1e9'; }
        .emoji-flag-gf:before { content: '\1f1ec-1f1eb'; }
        .emoji-flag-fm:before { content: '\1f1eb-1f1f2'; }
        .emoji-flag-gg:before { content: '\1f1ec-1f1ec'; }
        .emoji-flag-gh:before { content: '\1f1ec-1f1ed'; }
        .emoji-flag-gi:before { content: '\1f1ec-1f1ee'; }
        .emoji-flag-gl:before { content: '\1f1ec-1f1f1'; }
        .emoji-flag-gn:before { content: '\1f1ec-1f1f3'; }
        .emoji-flag-gm:before { content: '\1f1ec-1f1f2'; }
        .emoji-flag-gp:before { content: '\1f1ec-1f1f5'; }
        .emoji-flag-gq:before { content: '\1f1ec-1f1f6'; }
        .emoji-flag-gs:before { content: '\1f1ec-1f1f8'; }
        .emoji-flag-ge:before { content: '\1f1ec-1f1ea'; }
        .emoji-flag-gt:before { content: '\1f1ec-1f1f9'; }
        .emoji-flag-ea:before { content: '\1f1ea-1f1e6'; }
        .emoji-flag-gw:before { content: '\1f1ec-1f1fc'; }
        .emoji-flag-gy:before { content: '\1f1ec-1f1fe'; }
        .emoji-flag-hm:before { content: '\1f1ed-1f1f2'; }
        .emoji-flag-hk:before { content: '\1f1ed-1f1f0'; }
        .emoji-flag-gr:before { content: '\1f1ec-1f1f7'; }
        .emoji-flag-hr:before { content: '\1f1ed-1f1f7'; }
        .emoji-flag-ht:before { content: '\1f1ed-1f1f9'; }
        .emoji-flag-hu:before { content: '\1f1ed-1f1fa'; }
        .emoji-flag-hn:before { content: '\1f1ed-1f1f3'; }
        .emoji-flag-id:before { content: '\1f1ee-1f1e9'; }
        .emoji-flag-ie:before { content: '\1f1ee-1f1ea'; }
        .emoji-flag-gu:before { content: '\1f1ec-1f1fa'; }
        .emoji-flag-il:before { content: '\1f1ee-1f1f1'; }
        .emoji-flag-in:before { content: '\1f1ee-1f1f3'; }
        .emoji-flag-io:before { content: '\1f1ee-1f1f4'; }
        .emoji-flag-im:before { content: '\1f1ee-1f1f2'; }
        .emoji-flag-ir:before { content: '\1f1ee-1f1f7'; }
        .emoji-flag-is:before { content: '\1f1ee-1f1f8'; }
        .emoji-it:before { content: '\1f1ee-1f1f9'; }
        .emoji-flag-ic:before { content: '\1f1ee-1f1e8'; }
        .emoji-flag-je:before { content: '\1f1ef-1f1ea'; }
        .emoji-flag-jo:before { content: '\1f1ef-1f1f4'; }
        .emoji-flag-iq:before { content: '\1f1ee-1f1f6'; }
        .emoji-flag-ke:before { content: '\1f1f0-1f1ea'; }
        .emoji-flag-kg:before { content: '\1f1f0-1f1ec'; }
        .emoji-flag-kh:before { content: '\1f1f0-1f1ed'; }
        .emoji-flag-fj:before { content: '\1f1eb-1f1ef'; }
        .emoji-flag-km:before { content: '\1f1f0-1f1f2'; }
        .emoji-flag-kn:before { content: '\1f1f0-1f1f3'; }
        .emoji-flag-jm:before { content: '\1f1ef-1f1f2'; }
        .emoji-jp:before { content: '\1f1ef-1f1f5'; }
        .emoji-kr:before { content: '\1f1f0-1f1f7'; }
        .emoji-flag-kp:before { content: '\1f1f0-1f1f5'; }
        .emoji-flag-ki:before { content: '\1f1f0-1f1ee'; }
        .emoji-flag-la:before { content: '\1f1f1-1f1e6'; }
        .emoji-flag-ky:before { content: '\1f1f0-1f1fe'; }
        .emoji-flag-lc:before { content: '\1f1f1-1f1e8'; }
        .emoji-flag-li:before { content: '\1f1f1-1f1ee'; }
        .emoji-flag-lk:before { content: '\1f1f1-1f1f0'; }
        .emoji-flag-lb:before { content: '\1f1f1-1f1e7'; }
        .emoji-flag-ls:before { content: '\1f1f1-1f1f8'; }
        .emoji-flag-lt:before { content: '\1f1f1-1f1f9'; }
        .emoji-flag-lu:before { content: '\1f1f1-1f1fa'; }
        .emoji-flag-lv:before { content: '\1f1f1-1f1fb'; }
        .emoji-flag-ly:before { content: '\1f1f1-1f1fe'; }
        .emoji-flag-lr:before { content: '\1f1f1-1f1f7'; }
        .emoji-flag-mc:before { content: '\1f1f2-1f1e8'; }
        .emoji-flag-md:before { content: '\1f1f2-1f1e9'; }
        .emoji-flag-me:before { content: '\1f1f2-1f1ea'; }
        .emoji-flag-mf:before { content: '\1f1f2-1f1eb'; }
        .emoji-flag-ma:before { content: '\1f1f2-1f1e6'; }
        .emoji-flag-mh:before { content: '\1f1f2-1f1ed'; }
        .emoji-flag-mk:before { content: '\1f1f2-1f1f0'; }
        .emoji-flag-ml:before { content: '\1f1f2-1f1f1'; }
        .emoji-flag-mm:before { content: '\1f1f2-1f1f2'; }
        .emoji-flag-mn:before { content: '\1f1f2-1f1f3'; }
        .emoji-flag-mo:before { content: '\1f1f2-1f1f4'; }
        .emoji-flag-kz:before { content: '\1f1f0-1f1ff'; }
        .emoji-flag-mq:before { content: '\1f1f2-1f1f6'; }
        .emoji-flag-mr:before { content: '\1f1f2-1f1f7'; }
        .emoji-flag-ms:before { content: '\1f1f2-1f1f8'; }
        .emoji-flag-kw:before { content: '\1f1f0-1f1fc'; }
        .emoji-flag-mu:before { content: '\1f1f2-1f1fa'; }
        .emoji-flag-mp:before { content: '\1f1f2-1f1f5'; }
        .emoji-flag-mw:before { content: '\1f1f2-1f1fc'; }
        .emoji-flag-mx:before { content: '\1f1f2-1f1fd'; }
        .emoji-flag-my:before { content: '\1f1f2-1f1fe'; }
        .emoji-flag-mz:before { content: '\1f1f2-1f1ff'; }
        .emoji-flag-na:before { content: '\1f1f3-1f1e6'; }
        .emoji-flag-nc:before { content: '\1f1f3-1f1e8'; }
        .emoji-flag-mv:before { content: '\1f1f2-1f1fb'; }
        .emoji-flag-nf:before { content: '\1f1f3-1f1eb'; }
        .emoji-flag-ng:before { content: '\1f1f3-1f1ec'; }
        .emoji-flag-ni:before { content: '\1f1f3-1f1ee'; }
        .emoji-flag-nl:before { content: '\1f1f3-1f1f1'; }
        .emoji-flag-no:before { content: '\1f1f3-1f1f4'; }
        .emoji-flag-mg:before { content: '\1f1f2-1f1ec'; }
        .emoji-flag-nr:before { content: '\1f1f3-1f1f7'; }
        .emoji-flag-nu:before { content: '\1f1f3-1f1fa'; }
        .emoji-flag-nz:before { content: '\1f1f3-1f1ff'; }
        .emoji-flag-mt:before { content: '\1f1f2-1f1f9'; }
        .emoji-flag-ne:before { content: '\1f1f3-1f1ea'; }
        .emoji-flag-pe:before { content: '\1f1f5-1f1ea'; }
        .emoji-flag-pg:before { content: '\1f1f5-1f1ec'; }
        .emoji-flag-ph:before { content: '\1f1f5-1f1ed'; }
        .emoji-flag-pk:before { content: '\1f1f5-1f1f0'; }
        .emoji-flag-pf:before { content: '\1f1f5-1f1eb'; }
        .emoji-flag-pl:before { content: '\1f1f5-1f1f1'; }
        .emoji-flag-pm:before { content: '\1f1f5-1f1f2'; }
        .emoji-flag-pn:before { content: '\1f1f5-1f1f3'; }
        .emoji-flag-pr:before { content: '\1f1f5-1f1f7'; }
        .emoji-flag-pa:before { content: '\1f1f5-1f1e6'; }
        .emoji-flag-pt:before { content: '\1f1f5-1f1f9'; }
        .emoji-flag-pw:before { content: '\1f1f5-1f1fc'; }
        .emoji-flag-py:before { content: '\1f1f5-1f1fe'; }
        .emoji-flag-qa:before { content: '\1f1f6-1f1e6'; }
        .emoji-flag-re:before { content: '\1f1f7-1f1ea'; }
        .emoji-flag-om:before { content: '\1f1f4-1f1f2'; }
        .emoji-flag-np:before { content: '\1f1f3-1f1f5'; }
        .emoji-flag-ro:before { content: '\1f1f7-1f1f4'; }
        .emoji-ru:before { content: '\1f1f7-1f1fa'; }
        .emoji-flag-rw:before { content: '\1f1f7-1f1fc'; }
        .emoji-flag-ps:before { content: '\1f1f5-1f1f8'; }
        .emoji-flag-sc:before { content: '\1f1f8-1f1e8'; }
        .emoji-flag-sa:before { content: '\1f1f8-1f1e6'; }
        .emoji-flag-se:before { content: '\1f1f8-1f1ea'; }
        .emoji-flag-sg:before { content: '\1f1f8-1f1ec'; }
        .emoji-flag-sh:before { content: '\1f1f8-1f1ed'; }
        .emoji-flag-sj:before { content: '\1f1f8-1f1ef'; }
        .emoji-flag-sb:before { content: '\1f1f8-1f1e7'; }
        .emoji-flag-sk:before { content: '\1f1f8-1f1f0'; }
        .emoji-flag-sl:before { content: '\1f1f8-1f1f1'; }
        .emoji-flag-rs:before { content: '\1f1f7-1f1f8'; }
        .emoji-flag-sn:before { content: '\1f1f8-1f1f3'; }
        .emoji-flag-so:before { content: '\1f1f8-1f1f4'; }
        .emoji-flag-sr:before { content: '\1f1f8-1f1f7'; }
        .emoji-flag-ss:before { content: '\1f1f8-1f1f8'; }
        .emoji-flag-st:before { content: '\1f1f8-1f1f9'; }
        .emoji-flag-sv:before { content: '\1f1f8-1f1fb'; }
        .emoji-flag-sx:before { content: '\1f1f8-1f1fd'; }
        .emoji-flag-sm:before { content: '\1f1f8-1f1f2'; }
        .emoji-flag-sd:before { content: '\1f1f8-1f1e9'; }
        .emoji-flag-sy:before { content: '\1f1f8-1f1fe'; }
        .emoji-flag-tc:before { content: '\1f1f9-1f1e8'; }
        .emoji-flag-td:before { content: '\1f1f9-1f1e9'; }
        .emoji-flag-tf:before { content: '\1f1f9-1f1eb'; }
        .emoji-flag-tg:before { content: '\1f1f9-1f1ec'; }
        .emoji-flag-th:before { content: '\1f1f9-1f1ed'; }
        .emoji-flag-tj:before { content: '\1f1f9-1f1ef'; }
        .emoji-flag-tl:before { content: '\1f1f9-1f1f1'; }
        .emoji-flag-tk:before { content: '\1f1f9-1f1f0'; }
        .emoji-flag-tm:before { content: '\1f1f9-1f1f2'; }
        .emoji-flag-tn:before { content: '\1f1f9-1f1f3'; }
        .emoji-flag-tr:before { content: '\1f1f9-1f1f7'; }
        .emoji-flag-ta:before { content: '\1f1f9-1f1e6'; }
        .emoji-flag-tt:before { content: '\1f1f9-1f1f9'; }
        .emoji-flag-tv:before { content: '\1f1f9-1f1fb'; }
        .emoji-flag-tw:before { content: '\1f1f9-1f1fc'; }
        .emoji-flag-tz:before { content: '\1f1f9-1f1ff'; }
        .emoji-flag-ua:before { content: '\1f1fa-1f1e6'; }
        .emoji-flag-ug:before { content: '\1f1fa-1f1ec'; }
        .emoji-flag-um:before { content: '\1f1fa-1f1f2'; }
        .emoji-flag-un:before { content: '\1f1fa-1f1f3'; }
        .emoji-us:before { content: '\1f1fa-1f1f8'; }
        .emoji-flag-uy:before { content: '\1f1fa-1f1fe'; }
        .emoji-flag-uz:before { content: '\1f1fa-1f1ff'; }
        .emoji-flag-va:before { content: '\1f1fb-1f1e6'; }
        .emoji-flag-vc:before { content: '\1f1fb-1f1e8'; }
        .emoji-flag-to:before { content: '\1f1f9-1f1f4'; }
        .emoji-flag-vg:before { content: '\1f1fb-1f1ec'; }
        .emoji-flag-vi:before { content: '\1f1fb-1f1ee'; }
        .emoji-flag-vn:before { content: '\1f1fb-1f1f3'; }
        .emoji-flag-vu:before { content: '\1f1fb-1f1fa'; }
        .emoji-flag-ws:before { content: '\1f1fc-1f1f8'; }
        .emoji-flag-xk:before { content: '\1f1fd-1f1f0'; }
        .emoji-flag-ye:before { content: '\1f1fe-1f1ea'; }
        .emoji-flag-yt:before { content: '\1f1fe-1f1f9'; }
        .emoji-flag-si:before { content: '\1f1f8-1f1ee'; }
        .emoji-flag-zm:before { content: '\1f1ff-1f1f2'; }
        .emoji-flag-zw:before { content: '\1f1ff-1f1fc'; }
        .emoji-flag-england:before { content: '\1f3f4-e0067-e0062-e0065-e006e-e0067-e007f'; }
        .emoji-flag-wf:before { content: '\1f1fc-1f1eb'; }
        .emoji-flag-scotland:before { content: '\1f3f4-e0067-e0062-e0073-e0063-e0074-e007f'; }
        .emoji-flag-wales:before { content: '\1f3f4-e0067-e0062-e0077-e006c-e0073-e007f'; }
        .emoji-flag-za:before { content: '\1f1ff-1f1e6'; }
        .emoji-flag-sz:before { content: '\1f1f8-1f1ff'; }
        .emoji-flag-ve:before { content: '\1f1fb-1f1ea'; }
        