.emoji-safety_vest:before { content: '\1f9ba'; }
        
        .emoji-necktie:before { content: '\1f454'; }
        .emoji-shirt:before { content: '\1f455'; }
        .emoji-jeans:before { content: '\1f456'; }
        .emoji-scarf:before { content: '\1f9e3'; }
        .emoji-gloves:before { content: '\1f9e4'; }
        .emoji-socks:before { content: '\1f9e6'; }
        .emoji-dress:before { content: '\1f457'; }
        .emoji-kimono:before { content: '\1f458'; }
        .emoji-sari:before { content: '\1f97b'; }
        .emoji-one-piece_swimsuit:before { content: '\1fa71'; }
        .emoji-briefs:before { content: '\1fa72'; }
        .emoji-shorts:before { content: '\1fa73'; }
        .emoji-womans_clothes:before { content: '\1f45a'; }
        .emoji-purse:before { content: '\1f45b'; }
        .emoji-bikini:before { content: '\1f459'; }
        .emoji-pouch:before { content: '\1f45d'; }
        .emoji-shopping_bags:before { content: '\1f6cd-fe0f'; }
        .emoji-coat:before { content: '\1f9e5'; }
        .emoji-thong_sandal:before { content: '\1fa74'; }
        .emoji-mans_shoe:before { content: '\1f45e'; }
        .emoji-handbag:before { content: '\1f45c'; }
        .emoji-hiking_boot:before { content: '\1f97e'; }
        .emoji-womans_flat_shoe:before { content: '\1f97f'; }
        .emoji-high_heel:before { content: '\1f460'; }
        .emoji-sandal:before { content: '\1f461'; }
        .emoji-ballet_shoes:before { content: '\1fa70'; }
        .emoji-boot:before { content: '\1f462'; }
        .emoji-crown:before { content: '\1f451'; }
        .emoji-womans_hat:before { content: '\1f452'; }
        .emoji-mortar_board:before { content: '\1f393'; }
        .emoji-tophat:before { content: '\1f3a9'; }
        .emoji-billed_cap:before { content: '\1f9e2'; }
        .emoji-military_helmet:before { content: '\1fa96'; }
        .emoji-school_satchel:before { content: '\1f392'; }
        .emoji-prayer_beads:before { content: '\1f4ff'; }
        .emoji-lipstick:before { content: '\1f484'; }
        .emoji-ring:before { content: '\1f48d'; }
        .emoji-mute:before { content: '\1f507'; }
        .emoji-speaker:before { content: '\1f508'; }
        .emoji-sound:before { content: '\1f509'; }
        .emoji-athletic_shoe:before { content: '\1f45f'; }
        .emoji-loudspeaker:before { content: '\1f4e2'; }
        .emoji-gem:before { content: '\1f48e'; }
        .emoji-postal_horn:before { content: '\1f4ef'; }
        .emoji-loud_sound:before { content: '\1f50a'; }
        .emoji-helmet_with_white_cross:before { content: '\26d1-fe0f'; }
        .emoji-musical_note:before { content: '\1f3b5'; }
        .emoji-musical_score:before { content: '\1f3bc'; }
        .emoji-no_bell:before { content: '\1f515'; }
        .emoji-mega:before { content: '\1f4e3'; }
        .emoji-level_slider:before { content: '\1f39a-fe0f'; }
        .emoji-control_knobs:before { content: '\1f39b-fe0f'; }
        .emoji-microphone:before { content: '\1f3a4'; }
        .emoji-headphones:before { content: '\1f3a7'; }
        .emoji-studio_microphone:before { content: '\1f399-fe0f'; }
        .emoji-saxophone:before { content: '\1f3b7'; }
        .emoji-accordion:before { content: '\1fa97'; }
        .emoji-guitar:before { content: '\1f3b8'; }
        .emoji-bell:before { content: '\1f514'; }
        .emoji-trumpet:before { content: '\1f3ba'; }
        .emoji-violin:before { content: '\1f3bb'; }
        .emoji-banjo:before { content: '\1fa95'; }
        .emoji-drum_with_drumsticks:before { content: '\1f941'; }
        .emoji-long_drum:before { content: '\1fa98'; }
        .emoji-iphone:before { content: '\1f4f1'; }
        .emoji-calling:before { content: '\1f4f2'; }
        .emoji-phone:before { content: '\260e-fe0f'; }
        .emoji-telephone_receiver:before { content: '\1f4de'; }
        .emoji-radio:before { content: '\1f4fb'; }
        .emoji-fax:before { content: '\1f4e0'; }
        .emoji-notes:before { content: '\1f3b6'; }
        .emoji-pager:before { content: '\1f4df'; }
        .emoji-electric_plug:before { content: '\1f50c'; }
        .emoji-low_battery:before { content: '\1faab'; }
        .emoji-desktop_computer:before { content: '\1f5a5-fe0f'; }
        .emoji-printer:before { content: '\1f5a8-fe0f'; }
        .emoji-keyboard:before { content: '\2328-fe0f'; }
        .emoji-three_button_mouse:before { content: '\1f5b1-fe0f'; }
        .emoji-trackball:before { content: '\1f5b2-fe0f'; }
        .emoji-floppy_disk:before { content: '\1f4be'; }
        .emoji-minidisc:before { content: '\1f4bd'; }
        .emoji-battery:before { content: '\1f50b'; }
        .emoji-musical_keyboard:before { content: '\1f3b9'; }
        .emoji-dvd:before { content: '\1f4c0'; }
        .emoji-movie_camera:before { content: '\1f3a5'; }
        .emoji-abacus:before { content: '\1f9ee'; }
        .emoji-film_frames:before { content: '\1f39e-fe0f'; }
        .emoji-clapper:before { content: '\1f3ac'; }
        .emoji-camera:before { content: '\1f4f7'; }
        .emoji-tv:before { content: '\1f4fa'; }
        .emoji-camera_with_flash:before { content: '\1f4f8'; }
        .emoji-video_camera:before { content: '\1f4f9'; }
        .emoji-vhs:before { content: '\1f4fc'; }
        .emoji-mag:before { content: '\1f50d'; }
        .emoji-mag_right:before { content: '\1f50e'; }
        .emoji-candle:before { content: '\1f56f-fe0f'; }
        .emoji-bulb:before { content: '\1f4a1'; }
        .emoji-film_projector:before { content: '\1f4fd-fe0f'; }
        .emoji-flashlight:before { content: '\1f526'; }
        .emoji-cd:before { content: '\1f4bf'; }
        .emoji-notebook_with_decorative_cover:before { content: '\1f4d4'; }
        .emoji-closed_book:before { content: '\1f4d5'; }
        .emoji-izakaya_lantern:before { content: '\1f3ee'; }
        .emoji-computer:before { content: '\1f4bb'; }
        .emoji-blue_book:before { content: '\1f4d8'; }
        .emoji-orange_book:before { content: '\1f4d9'; }
        .emoji-books:before { content: '\1f4da'; }
        .emoji-book:before { content: '\1f4d6'; }
        .emoji-ledger:before { content: '\1f4d2'; }
        .emoji-page_with_curl:before { content: '\1f4c3'; }
        .emoji-scroll:before { content: '\1f4dc'; }
        .emoji-notebook:before { content: '\1f4d3'; }
        .emoji-diya_lamp:before { content: '\1fa94'; }
        .emoji-rolled_up_newspaper:before { content: '\1f5de-fe0f'; }
        .emoji-page_facing_up:before { content: '\1f4c4'; }
        .emoji-label:before { content: '\1f3f7-fe0f'; }
        .emoji-bookmark_tabs:before { content: '\1f4d1'; }
        .emoji-moneybag:before { content: '\1f4b0'; }
        .emoji-green_book:before { content: '\1f4d7'; }
        .emoji-newspaper:before { content: '\1f4f0'; }
        .emoji-euro:before { content: '\1f4b6'; }
        .emoji-dollar:before { content: '\1f4b5'; }
        .emoji-pound:before { content: '\1f4b7'; }
        .emoji-money_with_wings:before { content: '\1f4b8'; }
        .emoji-credit_card:before { content: '\1f4b3'; }
        .emoji-chart:before { content: '\1f4b9'; }
        .emoji-yen:before { content: '\1f4b4'; }
        .emoji-email:before { content: '\2709-fe0f'; }
        .emoji-incoming_envelope:before { content: '\1f4e8'; }
        .emoji-bookmark:before { content: '\1f516'; }
        .emoji-envelope_with_arrow:before { content: '\1f4e9'; }
        .emoji-outbox_tray:before { content: '\1f4e4'; }
        .emoji-inbox_tray:before { content: '\1f4e5'; }
        .emoji-package:before { content: '\1f4e6'; }
        .emoji-mailbox:before { content: '\1f4eb'; }
        .emoji-receipt:before { content: '\1f9fe'; }
        .emoji-mailbox_with_mail:before { content: '\1f4ec'; }
        .emoji-mailbox_with_no_mail:before { content: '\1f4ed'; }
        .emoji-postbox:before { content: '\1f4ee'; }
        .emoji-mailbox_closed:before { content: '\1f4ea'; }
        .emoji-pencil2:before { content: '\270f-fe0f'; }
        .emoji-black_nib:before { content: '\2712-fe0f'; }
        .emoji-coin:before { content: '\1fa99'; }
        .emoji-ballot_box_with_ballot:before { content: '\1f5f3-fe0f'; }
        .emoji-lower_left_paintbrush:before { content: '\1f58c-fe0f'; }
        .emoji-lower_left_crayon:before { content: '\1f58d-fe0f'; }
        .emoji-memo:before { content: '\1f4dd'; }
        .emoji-briefcase:before { content: '\1f4bc'; }
        .emoji-file_folder:before { content: '\1f4c1'; }
        .emoji-open_file_folder:before { content: '\1f4c2'; }
        .emoji-card_index_dividers:before { content: '\1f5c2-fe0f'; }
        .emoji-date:before { content: '\1f4c5'; }
        .emoji-calendar:before { content: '\1f4c6'; }
        .emoji-spiral_note_pad:before { content: '\1f5d2-fe0f'; }
        .emoji-spiral_calendar_pad:before { content: '\1f5d3-fe0f'; }
        .emoji-lower_left_ballpoint_pen:before { content: '\1f58a-fe0f'; }
        .emoji-chart_with_upwards_trend:before { content: '\1f4c8'; }
        .emoji-chart_with_downwards_trend:before { content: '\1f4c9'; }
        .emoji-bar_chart:before { content: '\1f4ca'; }
        .emoji-clipboard:before { content: '\1f4cb'; }
        .emoji-pushpin:before { content: '\1f4cc'; }
        .emoji-round_pushpin:before { content: '\1f4cd'; }
        .emoji-paperclip:before { content: '\1f4ce'; }
        .emoji-linked_paperclips:before { content: '\1f587-fe0f'; }
        .emoji-straight_ruler:before { content: '\1f4cf'; }
        .emoji-card_index:before { content: '\1f4c7'; }
        .emoji-e-mail:before { content: '\1f4e7'; }
        .emoji-lower_left_fountain_pen:before { content: '\1f58b-fe0f'; }
        .emoji-triangular_ruler:before { content: '\1f4d0'; }
        .emoji-card_file_box:before { content: '\1f5c3-fe0f'; }
        .emoji-lock:before { content: '\1f512'; }
        .emoji-unlock:before { content: '\1f513'; }
        .emoji-lock_with_ink_pen:before { content: '\1f50f'; }
        .emoji-closed_lock_with_key:before { content: '\1f510'; }
        .emoji-key:before { content: '\1f511'; }
        .emoji-old_key:before { content: '\1f5dd-fe0f'; }
        .emoji-wastebasket:before { content: '\1f5d1-fe0f'; }
        .emoji-scissors:before { content: '\2702-fe0f'; }
        .emoji-pick:before { content: '\26cf-fe0f'; }
        .emoji-hammer_and_pick:before { content: '\2692-fe0f'; }
        .emoji-axe:before { content: '\1fa93'; }
        .emoji-dagger_knife:before { content: '\1f5e1-fe0f'; }
        .emoji-file_cabinet:before { content: '\1f5c4-fe0f'; }
        .emoji-hammer:before { content: '\1f528'; }
        .emoji-boomerang:before { content: '\1fa83'; }
        .emoji-bow_and_arrow:before { content: '\1f3f9'; }
        .emoji-shield:before { content: '\1f6e1-fe0f'; }
        .emoji-carpentry_saw:before { content: '\1fa9a'; }
        .emoji-wrench:before { content: '\1f527'; }
        .emoji-crossed_swords:before { content: '\2694-fe0f'; }
        .emoji-screwdriver:before { content: '\1fa9b'; }
        .emoji-hammer_and_wrench:before { content: '\1f6e0-fe0f'; }
        .emoji-gear:before { content: '\2699-fe0f'; }
        .emoji-gun:before { content: '\1f52b'; }
        .emoji-probing_cane:before { content: '\1f9af'; }
        .emoji-link:before { content: '\1f517'; }
        .emoji-scales:before { content: '\2696-fe0f'; }
        .emoji-compression:before { content: '\1f5dc-fe0f'; }
        .emoji-hook:before { content: '\1fa9d'; }
        .emoji-magnet:before { content: '\1f9f2'; }
        .emoji-ladder:before { content: '\1fa9c'; }
        .emoji-test_tube:before { content: '\1f9ea'; }
        .emoji-alembic:before { content: '\2697-fe0f'; }
        .emoji-petri_dish:before { content: '\1f9eb'; }
        .emoji-microscope:before { content: '\1f52c'; }
        .emoji-dna:before { content: '\1f9ec'; }
        .emoji-telescope:before { content: '\1f52d'; }
        .emoji-satellite_antenna:before { content: '\1f4e1'; }
        .emoji-syringe:before { content: '\1f489'; }
        .emoji-nut_and_bolt:before { content: '\1f529'; }
        .emoji-chains:before { content: '\26d3-fe0f'; }
        .emoji-toolbox:before { content: '\1f9f0'; }
        .emoji-stethoscope:before { content: '\1fa7a'; }
        .emoji-crutch:before { content: '\1fa7c'; }
        .emoji-x-ray:before { content: '\1fa7b'; }
        .emoji-door:before { content: '\1f6aa'; }
        .emoji-elevator:before { content: '\1f6d7'; }
        .emoji-mirror:before { content: '\1fa9e'; }
        .emoji-drop_of_blood:before { content: '\1fa78'; }
        .emoji-bed:before { content: '\1f6cf-fe0f'; }
        .emoji-couch_and_lamp:before { content: '\1f6cb-fe0f'; }
        .emoji-chair:before { content: '\1fa91'; }
        .emoji-toilet:before { content: '\1f6bd'; }
        .emoji-window:before { content: '\1fa9f'; }
        .emoji-pill:before { content: '\1f48a'; }
        .emoji-bathtub:before { content: '\1f6c1'; }
        .emoji-mouse_trap:before { content: '\1faa4'; }
        .emoji-adhesive_bandage:before { content: '\1fa79'; }
        .emoji-lotion_bottle:before { content: '\1f9f4'; }
        .emoji-safety_pin:before { content: '\1f9f7'; }
        .emoji-razor:before { content: '\1fa92'; }
        .emoji-basket:before { content: '\1f9fa'; }
        .emoji-roll_of_paper:before { content: '\1f9fb'; }
        .emoji-bucket:before { content: '\1faa3'; }
        .emoji-soap:before { content: '\1f9fc'; }
        .emoji-bubbles:before { content: '\1fae7'; }
        .emoji-toothbrush:before { content: '\1faa5'; }
        .emoji-sponge:before { content: '\1f9fd'; }
        .emoji-fire_extinguisher:before { content: '\1f9ef'; }
        .emoji-shopping_trolley:before { content: '\1f6d2'; }
        .emoji-smoking:before { content: '\1f6ac'; }
        .emoji-coffin:before { content: '\26b0-fe0f'; }
        .emoji-shower:before { content: '\1f6bf'; }
        .emoji-funeral_urn:before { content: '\26b1-fe0f'; }
        .emoji-moyai:before { content: '\1f5ff'; }
        .emoji-placard:before { content: '\1faa7'; }
        .emoji-identification_card:before { content: '\1faaa'; }
        .emoji-headstone:before { content: '\1faa6'; }
        .emoji-plunger:before { content: '\1faa0'; }
        .emoji-broom:before { content: '\1f9f9'; }
        