.emoji-put_litter_in_its_place:before { content: '\1f6ae'; }
        r:before { content: '\1f6b0'; }
        .emoji-wheelchair:before { content: '\267f'; }
        .emoji-mens:before { content: '\1f6b9'; }
        .emoji-womens:before { content: '\1f6ba'; }
        .emoji-restroom:before { content: '\1f6bb'; }
        .emoji-baby_symbol:before { content: '\1f6bc'; }
        .emoji-wc:before { content: '\1f6be'; }
        .emoji-customs:before { content: '\1f6c3'; }
        .emoji-passport_control:before { content: '\1f6c2'; }
        .emoji-baggage_claim:before { content: '\1f6c4'; }
        .emoji-left_luggage:before { content: '\1f6c5'; }
        .emoji-warning:before { content: '\26a0-fe0f'; }
        .emoji-children_crossing:before { content: '\1f6b8'; }
        .emoji-no_entry:before { content: '\26d4'; }
        .emoji-no_bicycles:before { content: '\1f6b3'; }
        .emoji-no_smoking:before { content: '\1f6ad'; }
        .emoji-do_not_litter:before { content: '\1f6af'; }
        .emoji-no_pedestrians:before { content: '\1f6b7'; }
        .emoji-non-potable_water:before { content: '\1f6b1'; }
        .emoji-no_mobile_phones:before { content: '\1f4f5'; }
        .emoji-underage:before { content: '\1f51e'; }
        .emoji-radioactive_sign:before { content: '\2622-fe0f'; }
        .emoji-biohazard_sign:before { content: '\2623-fe0f'; }
        .emoji-arrow_up:before { content: '\2b06-fe0f'; }
        .emoji-arrow_upper_right:before { content: '\2197-fe0f'; }
        .emoji-arrow_down:before { content: '\2b07-fe0f'; }
        .emoji-arrow_lower_left:before { content: '\2199-fe0f'; }
        .emoji-arrow_left:before { content: '\2b05-fe0f'; }
        .emoji-arrow_upper_left:before { content: '\2196-fe0f'; }
        .emoji-arrow_up_down:before { content: '\2195-fe0f'; }
        .emoji-left_right_arrow:before { content: '\2194-fe0f'; }
        .emoji-leftwards_arrow_with_hook:before { content: '\21a9-fe0f'; }
        .emoji-no_entry_sign:before { content: '\1f6ab'; }
        .emoji-arrow_heading_up:before { content: '\2934-fe0f'; }
        .emoji-arrow_heading_down:before { content: '\2935-fe0f'; }
        .emoji-arrows_clockwise:before { content: '\1f503'; }
        .emoji-arrows_counterclockwise:before { content: '\1f504'; }
        .emoji-back:before { content: '\1f519'; }
        .emoji-end:before { content: '\1f51a'; }
        .emoji-on:before { content: '\1f51b'; }
        .emoji-soon:before { content: '\1f51c'; }
        .emoji-arrow_right:before { content: '\27a1-fe0f'; }
        .emoji-place_of_worship:before { content: '\1f6d0'; }
        .emoji-atom_symbol:before { content: '\269b-fe0f'; }
        .emoji-om_symbol:before { content: '\1f549-fe0f'; }
        .emoji-star_of_david:before { content: '\2721-fe0f'; }
        .emoji-wheel_of_dharma:before { content: '\2638-fe0f'; }
        .emoji-yin_yang:before { content: '\262f-fe0f'; }
        .emoji-latin_cross:before { content: '\271d-fe0f'; }
        .emoji-orthodox_cross:before { content: '\2626-fe0f'; }
        .emoji-star_and_crescent:before { content: '\262a-fe0f'; }
        .emoji-menorah_with_nine_branches:before { content: '\1f54e'; }
        .emoji-peace_symbol:before { content: '\262e-fe0f'; }
        .emoji-six_pointed_star:before { content: '\1f52f'; }
        .emoji-aries:before { content: '\2648'; }
        .emoji-taurus:before { content: '\2649'; }
        .emoji-cancer:before { content: '\264b'; }
        .emoji-arrow_lower_right:before { content: '\2198-fe0f'; }
        .emoji-leo:before { content: '\264c'; }
        .emoji-virgo:before { content: '\264d'; }
        .emoji-libra:before { content: '\264e'; }
        .emoji-scorpius:before { content: '\264f'; }
        .emoji-sagittarius:before { content: '\2650'; }
        .emoji-capricorn:before { content: '\2651'; }
        .emoji-aquarius:before { content: '\2652'; }
        .emoji-arrow_right_hook:before { content: '\21aa-fe0f'; }
        .emoji-pisces:before { content: '\2653'; }
        .emoji-twisted_rightwards_arrows:before { content: '\1f500'; }
        .emoji-repeat_one:before { content: '\1f502'; }
        .emoji-repeat:before { content: '\1f501'; }
        .emoji-gemini:before { content: '\264a'; }
        .emoji-fast_forward:before { content: '\23e9'; }
        .emoji-black_right_pointing_double_triangle_with_vertical_bar:before { content: '\23ed-fe0f'; }
        .emoji-black_right_pointing_triangle_with_double_vertical_bar:before { content: '\23ef-fe0f'; }
        .emoji-ophiuchus:before { content: '\26ce'; }
        .emoji-black_left_pointing_double_triangle_with_vertical_bar:before { content: '\23ee-fe0f'; }
        .emoji-top:before { content: '\1f51d'; }
        .emoji-arrow_backward:before { content: '\25c0-fe0f'; }
        .emoji-arrow_double_up:before { content: '\23eb'; }
        .emoji-arrow_down_small:before { content: '\1f53d'; }
        .emoji-arrow_double_down:before { content: '\23ec'; }
        .emoji-arrow_up_small:before { content: '\1f53c'; }
        .emoji-black_square_for_stop:before { content: '\23f9-fe0f'; }
        .emoji-black_circle_for_record:before { content: '\23fa-fe0f'; }
        .emoji-double_vertical_bar:before { content: '\23f8-fe0f'; }
        .emoji-arrow_forward:before { content: '\25b6-fe0f'; }
        .emoji-low_brightness:before { content: '\1f505'; }
        .emoji-signal_strength:before { content: '\1f4f6'; }
        .emoji-vibration_mode:before { content: '\1f4f3'; }
        .emoji-mobile_phone_off:before { content: '\1f4f4'; }
        .emoji-female_sign:before { content: '\2640-fe0f'; }
        .emoji-male_sign:before { content: '\2642-fe0f'; }
        .emoji-high_brightness:before { content: '\1f506'; }
        .emoji-transgender_symbol:before { content: '\26a7-fe0f'; }
        .emoji-heavy_plus_sign:before { content: '\2795'; }
        .emoji-heavy_multiplication_x:before { content: '\2716-fe0f'; }
        .emoji-heavy_minus_sign:before { content: '\2796'; }
        .emoji-heavy_division_sign:before { content: '\2797'; }
        .emoji-heavy_equals_sign:before { content: '\1f7f0'; }
        .emoji-infinity:before { content: '\267e-fe0f'; }
        .emoji-bangbang:before { content: '\203c-fe0f'; }
        .emoji-interrobang:before { content: '\2049-fe0f'; }
        .emoji-question:before { content: '\2753'; }
        .emoji-grey_question:before { content: '\2754'; }
        .emoji-grey_exclamation:before { content: '\2755'; }
        .emoji-exclamation:before { content: '\2757'; }
        .emoji-wavy_dash:before { content: '\3030-fe0f'; }
        .emoji-currency_exchange:before { content: '\1f4b1'; }
        .emoji-heavy_dollar_sign:before { content: '\1f4b2'; }
        .emoji-medical_symbol:before { content: '\2695-fe0f'; }
        .emoji-recycle:before { content: '\267b-fe0f'; }
        .emoji-fleur_de_lis:before { content: '\269c-fe0f'; }
        .emoji-trident:before { content: '\1f531'; }
        .emoji-name_badge:before { content: '\1f4db'; }
        .emoji-beginner:before { content: '\1f530'; }
        .emoji-o:before { content: '\2b55'; }
        .emoji-white_check_mark:before { content: '\2705'; }
        .emoji-ballot_box_with_check:before { content: '\2611-fe0f'; }
        .emoji-heavy_check_mark:before { content: '\2714-fe0f'; }
        .emoji-x:before { content: '\274c'; }
        .emoji-negative_squared_cross_mark:before { content: '\274e'; }
        .emoji-curly_loop:before { content: '\27b0'; }
        .emoji-loop:before { content: '\27bf'; }
        .emoji-part_alternation_mark:before { content: '\303d-fe0f'; }
        .emoji-eight_spoked_asterisk:before { content: '\2733-fe0f'; }
        .emoji-eight_pointed_black_star:before { content: '\2734-fe0f'; }
        .emoji-sparkle:before { content: '\2747-fe0f'; }
        .emoji-copyright:before { content: '\00a9-fe0f'; }
        .emoji-registered:before { content: '\00ae-fe0f'; }
        .emoji-tm:before { content: '\2122-fe0f'; }
        .emoji-hash:before { content: '\0023-fe0f-20e3'; }
        .emoji-keycap_star:before { content: '\002a-fe0f-20e3'; }
        .emoji-zero:before { content: '\0030-fe0f-20e3'; }
        .emoji-one:before { content: '\0031-fe0f-20e3'; }
        .emoji-two:before { content: '\0032-fe0f-20e3'; }
        .emoji-rewind:before { content: '\23ea'; }
        .emoji-four:before { content: '\0034-fe0f-20e3'; }
        .emoji-eject:before { content: '\23cf-fe0f'; }
        .emoji-six:before { content: '\0036-fe0f-20e3'; }
        .emoji-seven:before { content: '\0037-fe0f-20e3'; }
        .emoji-eight:before { content: '\0038-fe0f-20e3'; }
        .emoji-five:before { content: '\0035-fe0f-20e3'; }
        .emoji-cinema:before { content: '\1f3a6'; }
        .emoji-abcd:before { content: '\1f521'; }
        .emoji-keycap_ten:before { content: '\1f51f'; }
        .emoji-nine:before { content: '\0039-fe0f-20e3'; }
        .emoji-abc:before { content: '\1f524'; }
        .emoji-three:before { content: '\0033-fe0f-20e3'; }
        .emoji-a:before { content: '\1f170-fe0f'; }
        .emoji-capital_abcd:before { content: '\1f520'; }
        .emoji-ab:before { content: '\1f18e'; }
        .emoji-symbols:before { content: '\1f523'; }
        .emoji-free:before { content: '\1f193'; }
        .emoji-cl:before { content: '\1f191'; }
        .emoji-cool:before { content: '\1f192'; }
        .emoji-m:before { content: '\24c2-fe0f'; }
        .emoji-ng:before { content: '\1f196'; }
        .emoji-o2:before { content: '\1f17e-fe0f'; }
        .emoji-ok:before { content: '\1f197'; }
        .emoji-id:before { content: '\1f194'; }
        .emoji-b:before { content: '\1f171-fe0f'; }
        .emoji-new:before { content: '\1f195'; }
        .emoji-up:before { content: '\1f199'; }
        .emoji-vs:before { content: '\1f19a'; }
        .emoji-information_source:before { content: '\2139-fe0f'; }
        .emoji-parking:before { content: '\1f17f-fe0f'; }
        .emoji-u6709:before { content: '\1f236'; }
        .emoji-ideograph_advantage:before { content: '\1f250'; }
        .emoji-sa:before { content: '\1f202-fe0f'; }
        .emoji-u5272:before { content: '\1f239'; }
        .emoji-u7121:before { content: '\1f21a'; }
        .emoji-koko:before { content: '\1f201'; }
        .emoji-sos:before { content: '\1f198'; }
        .emoji-u7533:before { content: '\1f238'; }
        .emoji-u7a7a:before { content: '\1f233'; }
        .emoji-u7981:before { content: '\1f232'; }
        .emoji-u5408:before { content: '\1f234'; }
        .emoji-u6307:before { content: '\1f22f'; }
        .emoji-secret:before { content: '\3299-fe0f'; }
        .emoji-u55b6:before { content: '\1f23a'; }
        .emoji-congratulations:before { content: '\3297-fe0f'; }
        .emoji-red_circle:before { content: '\1f534'; }
        .emoji-large_orange_circle:before { content: '\1f7e0'; }
        .emoji-u6e80:before { content: '\1f235'; }
        .emoji-accept:before { content: '\1f251'; }
        .emoji-large_green_circle:before { content: '\1f7e2'; }
        .emoji-u6708:before { content: '\1f237-fe0f'; }
        .emoji-large_brown_circle:before { content: '\1f7e4'; }
        .emoji-black_circle:before { content: '\26ab'; }
        .emoji-large_red_square:before { content: '\1f7e5'; }
        .emoji-large_orange_square:before { content: '\1f7e7'; }
        .emoji-white_circle:before { content: '\26aa'; }
        .emoji-large_yellow_circle:before { content: '\1f7e1'; }
        .emoji-large_blue_circle:before { content: '\1f535'; }
        .emoji-large_purple_circle:before { content: '\1f7e3'; }
        .emoji-large_blue_square:before { content: '\1f7e6'; }
        .emoji-large_purple_square:before { content: '\1f7ea'; }
        .emoji-black_medium_square:before { content: '\25fc-fe0f'; }
        .emoji-large_brown_square:before { content: '\1f7eb'; }
        .emoji-white_large_square:before { content: '\2b1c'; }
        .emoji-large_yellow_square:before { content: '\1f7e8'; }
        .emoji-black_large_square:before { content: '\2b1b'; }
        .emoji-black_medium_small_square:before { content: '\25fe'; }
        .emoji-white_medium_small_square:before { content: '\25fd'; }
        .emoji-white_medium_square:before { content: '\25fb-fe0f'; }
        .emoji-large_orange_diamond:before { content: '\1f536'; }
        .emoji-small_orange_diamond:before { content: '\1f538'; }
        .emoji-large_green_square:before { content: '\1f7e9'; }
        .emoji-white_small_square:before { content: '\25ab-fe0f'; }
        .emoji-small_red_triangle:before { content: '\1f53a'; }
        .emoji-small_blue_diamond:before { content: '\1f539'; }
        .emoji-large_blue_diamond:before { content: '\1f537'; }
        .emoji-small_red_triangle_down:before { content: '\1f53b'; }
        .emoji-white_square_button:before { content: '\1f533'; }
        .emoji-radio_button:before { content: '\1f518'; }
        .emoji-diamond_shape_with_a_dot_inside:before { content: '\1f4a0'; }
        .emoji-black_square_button:before { content: '\1f532'; }
        .emoji-black_small_square:before { content: '\25aa-fe0f'; }
        