.emoji-sparkler:before { content: '\1f387'; }
              .emoji-sparkles:before { content: '\2728'; }
        .emoji-firecracker:before { content: '\1f9e8'; }
        .emoji-balloon:before { content: '\1f388'; }
        .emoji-tada:before { content: '\1f389'; }
        .emoji-confetti_ball:before { content: '\1f38a'; }
        .emoji-tanabata_tree:before { content: '\1f38b'; }
        .emoji-bamboo:before { content: '\1f38d'; }
        .emoji-dolls:before { content: '\1f38e'; }
        .emoji-flags:before { content: '\1f38f'; }
        .emoji-wind_chime:before { content: '\1f390'; }
        .emoji-rice_scene:before { content: '\1f391'; }
        .emoji-red_envelope:before { content: '\1f9e7'; }
        .emoji-ribbon:before { content: '\1f380'; }
        .emoji-gift:before { content: '\1f381'; }
        .emoji-reminder_ribbon:before { content: '\1f397-fe0f'; }
        .emoji-admission_tickets:before { content: '\1f39f-fe0f'; }
        .emoji-ticket:before { content: '\1f3ab'; }
        .emoji-medal:before { content: '\1f396-fe0f'; }
        .emoji-trophy:before { content: '\1f3c6'; }
        .emoji-sports_medal:before { content: '\1f3c5'; }
        .emoji-first_place_medal:before { content: '\1f947'; }
        .emoji-second_place_medal:before { content: '\1f948'; }
        .emoji-third_place_medal:before { content: '\1f949'; }
        .emoji-soccer:before { content: '\26bd'; }
        .emoji-baseball:before { content: '\26be'; }
        .emoji-softball:before { content: '\1f94e'; }
        .emoji-basketball:before { content: '\1f3c0'; }
        .emoji-volleyball:before { content: '\1f3d0'; }
        .emoji-football:before { content: '\1f3c8'; }
        .emoji-rugby_football:before { content: '\1f3c9'; }
        .emoji-tennis:before { content: '\1f3be'; }
        .emoji-flying_disc:before { content: '\1f94f'; }
        .emoji-bowling:before { content: '\1f3b3'; }
        .emoji-cricket_bat_and_ball:before { content: '\1f3cf'; }
        .emoji-field_hockey_stick_and_ball:before { content: '\1f3d1'; }
        .emoji-ice_hockey_stick_and_puck:before { content: '\1f3d2'; }
        .emoji-lacrosse:before { content: '\1f94d'; }
        .emoji-table_tennis_paddle_and_ball:before { content: '\1f3d3'; }
        .emoji-badminton_racquet_and_shuttlecock:before { content: '\1f3f8'; }
        .emoji-boxing_glove:before { content: '\1f94a'; }
        .emoji-martial_arts_uniform:before { content: '\1f94b'; }
        .emoji-goal_net:before { content: '\1f945'; }
        .emoji-golf:before { content: '\26f3'; }
        .emoji-ice_skate:before { content: '\26f8-fe0f'; }
        .emoji-fishing_pole_and_fish:before { content: '\1f3a3'; }
        .emoji-diving_mask:before { content: '\1f93f'; }
        .emoji-running_shirt_with_sash:before { content: '\1f3bd'; }
        .emoji-ski:before { content: '\1f3bf'; }
        .emoji-sled:before { content: '\1f6f7'; }
        .emoji-curling_stone:before { content: '\1f94c'; }
        .emoji-dart:before { content: '\1f3af'; }
        .emoji-yo-yo:before { content: '\1fa80'; }
        .emoji-kite:before { content: '\1fa81'; }
        .emoji-8ball:before { content: '\1f3b1'; }
        .emoji-crystal_ball:before { content: '\1f52e'; }
        .emoji-magic_wand:before { content: '\1fa84'; }
        .emoji-nazar_amulet:before { content: '\1f9ff'; }
        .emoji-hamsa:before { content: '\1faac'; }
        .emoji-video_game:before { content: '\1f3ae'; }
        .emoji-joystick:before { content: '\1f579-fe0f'; }
        .emoji-slot_machine:before { content: '\1f3b0'; }
        .emoji-game_die:before { content: '\1f3b2'; }
        .emoji-jigsaw:before { content: '\1f9e9'; }
        .emoji-teddy_bear:before { content: '\1f9f8'; }
        .emoji-pinata:before { content: '\1fa85'; }
        .emoji-mirror_ball:before { content: '\1faa9'; }
        .emoji-nesting_dolls:before { content: '\1fa86'; }
        .emoji-spades:before { content: '\2660-fe0f'; }
        .emoji-hearts:before { content: '\2665-fe0f'; }
        .emoji-diamonds:before { content: '\2666-fe0f'; }
        .emoji-clubs:before { content: '\2663-fe0f'; }
        .emoji-chess_pawn:before { content: '\265f-fe0f'; }
        .emoji-black_joker:before { content: '\1f0cf'; }
        .emoji-mahjong:before { content: '\1f004'; }
        .emoji-flower_playing_cards:before { content: '\1f3b4'; }
        .emoji-performing_arts:before { content: '\1f3ad'; }
        .emoji-frame_with_picture:before { content: '\1f5bc-fe0f'; }
        .emoji-art:before { content: '\1f3a8'; }
        .emoji-thread:before { content: '\1f9f5'; }
        .emoji-sewing_needle:before { content: '\1faa1'; }
        .emoji-yarn:before { content: '\1f9f6'; }
        .emoji-knot:before { content: '\1faa2'; }
        .emoji-jack_o_lantern:before { content: '\1f383'; }
        .emoji-fireworks:before { content: '\1f386'; }
        .emoji-christmas_tree:before { content: '\1f384'; }
        .emoji-sparkler:before { content: '\1f387'; }
        .emoji-firecracker:before { content: '\1f9e8'; }
        .emoji-sparkles:before { content: '\2728'; }
        .emoji-balloon:before { content: '\1f388'; }
        .emoji-tada:before { content: '\1f389'; }
        .emoji-confetti_ball:before { content: '\1f38a'; }
        .emoji-tanabata_tree:before { content: '\1f38b'; }
        .emoji-bamboo:before { content: '\1f38d'; }
        .emoji-dolls:before { content: '\1f38e'; }
        .emoji-flags:before { content: '\1f38f'; }
        .emoji-wind_chime:before { content: '\1f390'; }
        .emoji-rice_scene:before { content: '\1f391'; }
        .emoji-red_envelope:before { content: '\1f9e7'; }
        .emoji-ribbon:before { content: '\1f380'; }
        .emoji-gift:before { content: '\1f381'; }
        .emoji-reminder_ribbon:before { content: '\1f397-fe0f'; }
        .emoji-admission_tickets:before { content: '\1f39f-fe0f'; }
        .emoji-ticket:before { content: '\1f3ab'; }
        .emoji-medal:before { content: '\1f396-fe0f'; }
        .emoji-trophy:before { content: '\1f3c6'; }
        .emoji-sports_medal:before { content: '\1f3c5'; }
        .emoji-first_place_medal:before { content: '\1f947'; }
        .emoji-second_place_medal:before { content: '\1f948'; }
        .emoji-third_place_medal:before { content: '\1f949'; }
        .emoji-soccer:before { content: '\26bd'; }
        .emoji-baseball:before { content: '\26be'; }
        .emoji-softball:before { content: '\1f94e'; }
        .emoji-basketball:before { content: '\1f3c0'; }
        .emoji-volleyball:before { content: '\1f3d0'; }
        .emoji-football:before { content: '\1f3c8'; }
        .emoji-rugby_football:before { content: '\1f3c9'; }
        .emoji-tennis:before { content: '\1f3be'; }
        .emoji-flying_disc:before { content: '\1f94f'; }
        .emoji-bowling:before { content: '\1f3b3'; }
        .emoji-cricket_bat_and_ball:before { content: '\1f3cf'; }
        .emoji-field_hockey_stick_and_ball:before { content: '\1f3d1'; }
        .emoji-ice_hockey_stick_and_puck:before { content: '\1f3d2'; }
        .emoji-table_tennis_paddle_and_ball:before { content: '\1f3d3'; }
        .emoji-lacrosse:before { content: '\1f94d'; }
        .emoji-badminton_racquet_and_shuttlecock:before { content: '\1f3f8'; }
        .emoji-boxing_glove:before { content: '\1f94a'; }
        .emoji-martial_arts_uniform:before { content: '\1f94b'; }
        .emoji-goal_net:before { content: '\1f945'; }
        .emoji-golf:before { content: '\26f3'; }
        .emoji-ice_skate:before { content: '\26f8-fe0f'; }
        .emoji-fishing_pole_and_fish:before { content: '\1f3a3'; }
        .emoji-diving_mask:before { content: '\1f93f'; }
        .emoji-running_shirt_with_sash:before { content: '\1f3bd'; }
        .emoji-ski:before { content: '\1f3bf'; }
        .emoji-sled:before { content: '\1f6f7'; }
        .emoji-curling_stone:before { content: '\1f94c'; }
        .emoji-dart:before { content: '\1f3af'; }
        .emoji-yo-yo:before { content: '\1fa80'; }
        .emoji-kite:before { content: '\1fa81'; }
        .emoji-8ball:before { content: '\1f3b1'; }
        .emoji-crystal_ball:before { content: '\1f52e'; }
        .emoji-magic_wand:before { content: '\1fa84'; }
        .emoji-nazar_amulet:before { content: '\1f9ff'; }
        .emoji-hamsa:before { content: '\1faac'; }
        .emoji-video_game:before { content: '\1f3ae'; }
        .emoji-joystick:before { content: '\1f579-fe0f'; }
        .emoji-slot_machine:before { content: '\1f3b0'; }
        .emoji-game_die:before { content: '\1f3b2'; }
        .emoji-jigsaw:before { content: '\1f9e9'; }
        .emoji-teddy_bear:before { content: '\1f9f8'; }
        .emoji-pinata:before { content: '\1fa85'; }
        .emoji-mirror_ball:before { content: '\1faa9'; }
        .emoji-nesting_dolls:before { content: '\1fa86'; }
        .emoji-spades:before { content: '\2660-fe0f'; }
        .emoji-hearts:before { content: '\2665-fe0f'; }
        .emoji-diamonds:before { content: '\2666-fe0f'; }
        .emoji-clubs:before { content: '\2663-fe0f'; }
        .emoji-chess_pawn:before { content: '\265f-fe0f'; }
        .emoji-black_joker:before { content: '\1f0cf'; }
        .emoji-mahjong:before { content: '\1f004'; }
        .emoji-flower_playing_cards:before { content: '\1f3b4'; }
        .emoji-performing_arts:before { content: '\1f3ad'; }
        .emoji-frame_with_picture:before { content: '\1f5bc-fe0f'; }
        .emoji-art:before { content: '\1f3a8'; }
        .emoji-thread:before { content: '\1f9f5'; }
        .emoji-sewing_needle:before { content: '\1faa1'; }
        .emoji-yarn:before { content: '\1f9f6'; }
        .emoji-knot:before { content: '\1faa2'; }
        