.emoji-soccer:before { content: '\26bd'; }
        ; }
             .emoji-rugby_football:before { content: '\1f3c9'; }
        .emoji-bowling:before { content: '\1f3b3'; }
        .emoji-field_hockey_stick_and_ball:before { content: '\1f3d1'; }
        .emoji-cricket_bat_and_ball:before { content: '\1f3cf'; }
        .emoji-flying_disc:before { content: '\1f94f'; }
        .emoji-ice_hockey_stick_and_puck:before { content: '\1f3d2'; }
        .emoji-lacrosse:before { content: '\1f94d'; }
        .emoji-badminton_racquet_and_shuttlecock:before { content: '\1f3f8'; }
        .emoji-martial_arts_uniform:before { content: '\1f94b'; }
        .emoji-table_tennis_paddle_and_ball:before { content: '\1f3d3'; }
        .emoji-golf:before { content: '\26f3'; }
        .emoji-tennis:before { content: '\1f3be'; }
        .emoji-boxing_glove:before { content: '\1f94a'; }
        .emoji-diving_mask:before { content: '\1f93f'; }
        .emoji-running_shirt_with_sash:before { content: '\1f3bd'; }
        .emoji-ski:before { content: '\1f3bf'; }
        .emoji-sled:before { content: '\1f6f7'; }
        .emoji-fishing_pole_and_fish:before { content: '\1f3a3'; }
        .emoji-dart:before { content: '\1f3af'; }
        .emoji-yo-yo:before { content: '\1fa80'; }
        .emoji-kite:before { content: '\1fa81'; }
        .emoji-ice_skate:before { content: '\26f8-fe0f'; }
        .emoji-curling_stone:before { content: '\1f94c'; }
        .emoji-magic_wand:before { content: '\1fa84'; }
        .emoji-nazar_amulet:before { content: '\1f9ff'; }
        .emoji-hamsa:before { content: '\1faac'; }
        .emoji-video_game:before { content: '\1f3ae'; }
        .emoji-joystick:before { content: '\1f579-fe0f'; }
        .emoji-slot_machine:before { content: '\1f3b0'; }
        .emoji-game_die:before { content: '\1f3b2'; }
        .emoji-jigsaw:before { content: '\1f9e9'; }
        .emoji-teddy_bear:before { content: '\1f9f8'; }
        .emoji-crystal_ball:before { content: '\1f52e'; }
        .emoji-mirror_ball:before { content: '\1faa9'; }
        .emoji-pinata:before { content: '\1fa85'; }
        .emoji-spades:before { content: '\2660-fe0f'; }
        .emoji-goal_net:before { content: '\1f945'; }
        .emoji-diamonds:before { content: '\2666-fe0f'; }
        .emoji-clubs:before { content: '\2663-fe0f'; }
        .emoji-chess_pawn:before { content: '\265f-fe0f'; }
        .emoji-hearts:before { content: '\2665-fe0f'; }
        .emoji-mahjong:before { content: '\1f004'; }
        .emoji-flower_playing_cards:before { content: '\1f3b4'; }
        .emoji-performing_arts:before { content: '\1f3ad'; }
        .emoji-frame_with_picture:before { content: '\1f5bc-fe0f'; }
        .emoji-art:before { content: '\1f3a8'; }
        .emoji-thread:before { content: '\1f9f5'; }
        .emoji-sewing_needle:before { content: '\1faa1'; }
        .emoji-yarn:before { content: '\1f9f6'; }
        .emoji-nesting_dolls:before { content: '\1fa86'; }
        .emoji-8ball:before { content: '\1f3b1'; }
        .emoji-knot:before { content: '\1faa2'; }
        .emoji-black_joker:before { content: '\1f0cf'; }
        