.emoji-watermelon:before { content: '\1f349'; }
        .emoji-tangerine:before { content: '\1f34a'; }
        .emoji-lemon:before { content: '\1f34b'; }
        .emoji-banana:before { content: '\1f34c'; }
        .emoji-pineapple:before { content: '\1f34d'; }
        .emoji-mango:before { content: '\1f96d'; }
        .emoji-apple:before { content: '\1f34e'; }
        .emoji-green_apple:before { content: '\1f34f'; }
        .emoji-pear:before { content: '\1f350'; }
        .emoji-peach:before { content: '\1f351'; }
        .emoji-cherries:before { content: '\1f352'; }
        .emoji-strawberry:before { content: '\1f353'; }
        .emoji-blueberries:before { content: '\1fad0'; }
        .emoji-kiwifruit:before { content: '\1f95d'; }
        .emoji-tomato:before { content: '\1f345'; }
        .emoji-olive:before { content: '\1fad2'; }
        .emoji-coconut:before { content: '\1f965'; }
        .emoji-avocado:before { content: '\1f951'; }
        .emoji-eggplant:before { content: '\1f346'; }
        .emoji-potato:before { content: '\1f954'; }
        .emoji-carrot:before { content: '\1f955'; }
        .emoji-corn:before { content: '\1f33d'; }
        .emoji-hot_pepper:before { content: '\1f336-fe0f'; }
        .emoji-bell_pepper:before { content: '\1fad1'; }
        .emoji-cucumber:before { content: '\1f952'; }
        .emoji-broccoli:before { content: '\1f966'; }
        .emoji-garlic:before { content: '\1f9c4'; }
        .emoji-onion:before { content: '\1f9c5'; }
        .emoji-mushroom:before { content: '\1f344'; }
        .emoji-peanuts:before { content: '\1f95c'; }
        .emoji-beans:before { content: '\1fad8'; }
        .emoji-chestnut:before { content: '\1f330'; }
        .emoji-bread:before { content: '\1f35e'; }
        .emoji-baguette_bread:before { content: '\1f956'; }
        .emoji-croissant:before { content: '\1f950'; }
        .emoji-flatbread:before { content: '\1fad3'; }
        .emoji-pretzel:before { content: '\1f968'; }
        .emoji-bagel:before { content: '\1f96f'; }
        .emoji-pancakes:before { content: '\1f95e'; }
        .emoji-waffle:before { content: '\1f9c7'; }
        .emoji-cheese_wedge:before { content: '\1f9c0'; }
        .emoji-meat_on_bone:before { content: '\1f356'; }
        .emoji-cut_of_meat:before { content: '\1f969'; }
        .emoji-poultry_leg:before { content: '\1f357'; }
        .emoji-bacon:before { content: '\1f953'; }
        .emoji-hamburger:before { content: '\1f354'; }
        .emoji-fries:before { content: '\1f35f'; }
        .emoji-pizza:before { content: '\1f355'; }
        .emoji-hotdog:before { content: '\1f32d'; }
        .emoji-sandwich:before { content: '\1f96a'; }
        .emoji-taco:before { content: '\1f32e'; }
        .emoji-burrito:before { content: '\1f32f'; }
        .emoji-tamale:before { content: '\1fad4'; }
        .emoji-stuffed_flatbread:before { content: '\1f959'; }
        .emoji-falafel:before { content: '\1f9c6'; }
        .emoji-egg:before { content: '\1f95a'; }
        .emoji-fried_egg:before { content: '\1f373'; }
        .emoji-shallow_pan_of_food:before { content: '\1f958'; }
        .emoji-stew:before { content: '\1f372'; }
        .emoji-fondue:before { content: '\1fad5'; }
        .emoji-bowl_with_spoon:before { content: '\1f963'; }
        .emoji-green_salad:before { content: '\1f957'; }
        .emoji-popcorn:before { content: '\1f37f'; }
        .emoji-butter:before { content: '\1f9c8'; }
        .emoji-salt:before { content: '\1f9c2'; }
        .emoji-canned_food:before { content: '\1f96b'; }
        .emoji-bento:before { content: '\1f371'; }
        .emoji-rice_cracker:before { content: '\1f358'; }
        .emoji-rice_ball:before { content: '\1f359'; }
        .emoji-rice:before { content: '\1f35a'; }
        .emoji-curry:before { content: '\1f35b'; }
        .emoji-ramen:before { content: '\1f35c'; }
        .emoji-spaghetti:before { content: '\1f35d'; }
        .emoji-sweet_potato:before { content: '\1f360'; }
        .emoji-oden:before { content: '\1f362'; }
        .emoji-sushi:before { content: '\1f363'; }
        .emoji-fried_shrimp:before { content: '\1f364'; }
        .emoji-fish_cake:before { content: '\1f365'; }
        .emoji-moon_cake:before { content: '\1f96e'; }
        .emoji-dango:before { content: '\1f361'; }
        .emoji-dumpling:before { content: '\1f95f'; }
        .emoji-fortune_cookie:before { content: '\1f960'; }
        .emoji-takeout_box:before { content: '\1f961'; }
        .emoji-crab:before { content: '\1f980'; }
        .emoji-lobster:before { content: '\1f99e'; }
        .emoji-shrimp:before { content: '\1f990'; }
        .emoji-squid:before { content: '\1f991'; }
        .emoji-oyster:before { content: '\1f9aa'; }
        .emoji-icecream:before { content: '\1f366'; }
        .emoji-shaved_ice:before { content: '\1f367'; }
        .emoji-ice_cream:before { content: '\1f368'; }
        .emoji-doughnut:before { content: '\1f369'; }
        .emoji-cookie:before { content: '\1f36a'; }
        .emoji-birthday:before { content: '\1f382'; }
        .emoji-cake:before { content: '\1f370'; }
        .emoji-cupcake:before { content: '\1f9c1'; }
        .emoji-pie:before { content: '\1f967'; }
        .emoji-chocolate_bar:before { content: '\1f36b'; }
        .emoji-candy:before { content: '\1f36c'; }
        .emoji-lollipop:before { content: '\1f36d'; }
        .emoji-custard:before { content: '\1f36e'; }
        .emoji-honey_pot:before { content: '\1f36f'; }
        .emoji-baby_bottle:before { content: '\1f37c'; }
        .emoji-glass_of_milk:before { content: '\1f95b'; }
        .emoji-coffee:before { content: '\2615'; }
        .emoji-teapot:before { content: '\1fad6'; }
        .emoji-tea:before { content: '\1f375'; }
        .emoji-sake:before { content: '\1f376'; }
        .emoji-champagne:before { content: '\1f37e'; }
        .emoji-wine_glass:before { content: '\1f377'; }
        .emoji-cocktail:before { content: '\1f378'; }
        .emoji-tropical_drink:before { content: '\1f379'; }
        .emoji-beer:before { content: '\1f37a'; }
        .emoji-beers:before { content: '\1f37b'; }
        .emoji-clinking_glasses:before { content: '\1f942'; }
        .emoji-tumbler_glass:before { content: '\1f943'; }
        .emoji-pouring_liquid:before { content: '\1fad7'; }
        .emoji-cup_with_straw:before { content: '\1f964'; }
        .emoji-bubble_tea:before { content: '\1f9cb'; }
        .emoji-beverage_box:before { content: '\1f9c3'; }
        .emoji-mate_drink:before { content: '\1f9c9'; }
        .emoji-ice_cube:before { content: '\1f9ca'; }
        .emoji-chopsticks:before { content: '\1f962'; }
        .emoji-knife_fork_plate:before { content: '\1f37d-fe0f'; }
        .emoji-fork_and_knife:before { content: '\1f374'; }
        .emoji-spoon:before { content: '\1f944'; }
        .emoji-hocho:before { content: '\1f52a'; }
        .emoji-jar:before { content: '\1fad9'; }
        .emoji-amphora:before { content: '\1f3fa'; }
        .emoji-leafy_green:before { content: '\1f96c'; }
        .emoji-grapes:before { content: '\1f347'; }
        .emoji-melon:before { content: '\1f348'; }
        .emoji-watermelon:before { content: '\1f349'; }
        .emoji-tangerine:before { content: '\1f34a'; }
        .emoji-lemon:before { content: '\1f34b'; }
        .emoji-banana:before { content: '\1f34c'; }
        .emoji-pineapple:before { content: '\1f34d'; }
        .emoji-mango:before { content: '\1f96d'; }
        .emoji-apple:before { content: '\1f34e'; }
        .emoji-green_apple:before { content: '\1f34f'; }
        .emoji-pear:before { content: '\1f350'; }
        .emoji-peach:before { content: '\1f351'; }
        .emoji-cherries:before { content: '\1f352'; }
        .emoji-strawberry:before { content: '\1f353'; }
        .emoji-blueberries:before { content: '\1fad0'; }
        .emoji-kiwifruit:before { content: '\1f95d'; }
        .emoji-tomato:before { content: '\1f345'; }
        .emoji-olive:before { content: '\1fad2'; }
        .emoji-coconut:before { content: '\1f965'; }
        .emoji-avocado:before { content: '\1f951'; }
        .emoji-eggplant:before { content: '\1f346'; }
        .emoji-potato:before { content: '\1f954'; }
        .emoji-carrot:before { content: '\1f955'; }
        .emoji-corn:before { content: '\1f33d'; }
        .emoji-bell_pepper:before { content: '\1fad1'; }
        .emoji-hot_pepper:before { content: '\1f336-fe0f'; }
        .emoji-cucumber:before { content: '\1f952'; }
        .emoji-broccoli:before { content: '\1f966'; }
        .emoji-garlic:before { content: '\1f9c4'; }
        .emoji-onion:before { content: '\1f9c5'; }
        .emoji-mushroom:before { content: '\1f344'; }
        .emoji-peanuts:before { content: '\1f95c'; }
        .emoji-beans:before { content: '\1fad8'; }
        .emoji-leafy_green:before { content: '\1f96c'; }
        .emoji-bread:before { content: '\1f35e'; }
        .emoji-baguette_bread:before { content: '\1f956'; }
        .emoji-flatbread:before { content: '\1fad3'; }
        .emoji-pretzel:before { content: '\1f968'; }
        .emoji-bagel:before { content: '\1f96f'; }
        .emoji-pancakes:before { content: '\1f95e'; }
        .emoji-waffle:before { content: '\1f9c7'; }
        .emoji-cheese_wedge:before { content: '\1f9c0'; }
        .emoji-meat_on_bone:before { content: '\1f356'; }
        .emoji-poultry_leg:before { content: '\1f357'; }
        .emoji-cut_of_meat:before { content: '\1f969'; }
        .emoji-bacon:before { content: '\1f953'; }
        .emoji-hamburger:before { content: '\1f354'; }
        .emoji-fries:before { content: '\1f35f'; }
        .emoji-pizza:before { content: '\1f355'; }
        .emoji-hotdog:before { content: '\1f32d'; }
        .emoji-sandwich:before { content: '\1f96a'; }
        .emoji-burrito:before { content: '\1f32f'; }
        .emoji-tamale:before { content: '\1fad4'; }
        .emoji-stuffed_flatbread:before { content: '\1f959'; }
        .emoji-croissant:before { content: '\1f950'; }
        .emoji-egg:before { content: '\1f95a'; }
        .emoji-fried_egg:before { content: '\1f373'; }
        .emoji-falafel:before { content: '\1f9c6'; }
        .emoji-stew:before { content: '\1f372'; }
        .emoji-fondue:before { content: '\1fad5'; }
        .emoji-bowl_with_spoon:before { content: '\1f963'; }
        .emoji-green_salad:before { content: '\1f957'; }
        .emoji-popcorn:before { content: '\1f37f'; }
        .emoji-butter:before { content: '\1f9c8'; }
        .emoji-salt:before { content: '\1f9c2'; }
        .emoji-canned_food:before { content: '\1f96b'; }
        .emoji-shallow_pan_of_food:before { content: '\1f958'; }
        .emoji-chestnut:before { content: '\1f330'; }
        .emoji-rice_ball:before { content: '\1f359'; }
        .emoji-rice:before { content: '\1f35a'; }
        .emoji-curry:before { content: '\1f35b'; }
        .emoji-ramen:before { content: '\1f35c'; }
        .emoji-spaghetti:before { content: '\1f35d'; }
        .emoji-sweet_potato:before { content: '\1f360'; }
        .emoji-oden:before { content: '\1f362'; }
        .emoji-sushi:before { content: '\1f363'; }
        .emoji-fried_shrimp:before { content: '\1f364'; }
        .emoji-fish_cake:before { content: '\1f365'; }
        .emoji-moon_cake:before { content: '\1f96e'; }
        .emoji-dango:before { content: '\1f361'; }
        .emoji-dumpling:before { content: '\1f95f'; }
        .emoji-fortune_cookie:before { content: '\1f960'; }
        .emoji-takeout_box:before { content: '\1f961'; }
        .emoji-crab:before { content: '\1f980'; }
        .emoji-lobster:before { content: '\1f99e'; }
        .emoji-shrimp:before { content: '\1f990'; }
        .emoji-squid:before { content: '\1f991'; }
        .emoji-oyster:before { content: '\1f9aa'; }
        .emoji-icecream:before { content: '\1f366'; }
        .emoji-shaved_ice:before { content: '\1f367'; }
        .emoji-ice_cream:before { content: '\1f368'; }
        .emoji-doughnut:before { content: '\1f369'; }
        .emoji-cookie:before { content: '\1f36a'; }
        .emoji-birthday:before { content: '\1f382'; }
        .emoji-cake:before { content: '\1f370'; }
        .emoji-pie:before { content: '\1f967'; }
        .emoji-cupcake:before { content: '\1f9c1'; }
        .emoji-chocolate_bar:before { content: '\1f36b'; }
        .emoji-candy:before { content: '\1f36c'; }
        .emoji-lollipop:before { content: '\1f36d'; }
        .emoji-custard:before { content: '\1f36e'; }
        .emoji-honey_pot:before { content: '\1f36f'; }
        .emoji-baby_bottle:before { content: '\1f37c'; }
        .emoji-glass_of_milk:before { content: '\1f95b'; }
        .emoji-coffee:before { content: '\2615'; }
        .emoji-teapot:before { content: '\1fad6'; }
        .emoji-tea:before { content: '\1f375'; }
        .emoji-sake:before { content: '\1f376'; }
        .emoji-champagne:before { content: '\1f37e'; }
        .emoji-wine_glass:before { content: '\1f377'; }
        .emoji-cocktail:before { content: '\1f378'; }
        .emoji-tropical_drink:before { content: '\1f379'; }
        .emoji-beer:before { content: '\1f37a'; }
        .emoji-beers:before { content: '\1f37b'; }
        .emoji-clinking_glasses:before { content: '\1f942'; }
        .emoji-tumbler_glass:before { content: '\1f943'; }
        .emoji-pouring_liquid:before { content: '\1fad7'; }
        .emoji-cup_with_straw:before { content: '\1f964'; }
        .emoji-bubble_tea:before { content: '\1f9cb'; }
        .emoji-beverage_box:before { content: '\1f9c3'; }
        .emoji-mate_drink:before { content: '\1f9c9'; }
        .emoji-ice_cube:before { content: '\1f9ca'; }
        .emoji-chopsticks:before { content: '\1f962'; }
        .emoji-knife_fork_plate:before { content: '\1f37d-fe0f'; }
        .emoji-fork_and_knife:before { content: '\1f374'; }
        .emoji-spoon:before { content: '\1f944'; }
        .emoji-hocho:before { content: '\1f52a'; }
        .emoji-jar:before { content: '\1fad9'; }
        .emoji-amphora:before { content: '\1f3fa'; }
        .emoji-rice_cracker:before { content: '\1f358'; }
        .emoji-taco:before { content: '\1f32e'; }
        .emoji-bento:before { content: '\1f371'; }
        